<ion-view class="start-wizard" hide-nav-bar="true">
    <ion-content>
        <ion-slides id="start-wizard-slides" options="vm.options" slider="data.slider">
            <ion-slide-page>
                <div class="wizard-image-wrap blue">
                    <img class="info-img" ng-src="img/screenshot1_iphone6.png">
                </div>
                <div class="info-cards">
                    <h3>{{'WIZARD_1_HEADER'|translate}}</h3>
                    <p>
                        {{'WIZARD_1_LINE_1'|translate}}<br />
                        {{'WIZARD_1_LINE_2'|translate}}<br />
                        {{'WIZARD_1_LINE_3'|translate}}
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="wizard-image-wrap green">
                    <img class="info-img" ng-src="img/screenshot3_iphone6.png">
                </div>
                <div class="info-cards">
                    <h3>{{'WIZARD_2_HEADER'|translate}}</h3>
                    <p>
                        {{'WIZARD_2_LINE_1'|translate}}<br />
                        {{'WIZARD_2_LINE_2'|translate}}<br />
                        {{'WIZARD_2_LINE_3'|translate}}<br />
                        {{'WIZARD_2_LINE_4'|translate}}
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="wizard-image-wrap orange">
                    <img class="info-img" ng-src="img/screenshot4_iphone6.png">
                </div>
                <div class="info-cards">
                    <h3>{{'WIZARD_3_HEADER'|translate}}</h3>
                    <p>
                        {{'WIZARD_3_LINE_1'|translate}}<br />
                        {{'WIZARD_3_LINE_2'|translate}}<br />
                        {{'WIZARD_3_LINE_3'|translate}}
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="wizard-image-wrap yellow">
                    <img class="info-img" ng-src="img/screenshot5_iphone6.png">
                </div>
                <div class="info-cards">
                    <h3>{{'WIZARD_4_HEADER'|translate}}</h3>
                    <p>
                        {{'WIZARD_4_LINE_1'|translate}}<br />
                        {{'WIZARD_4_LINE_2'|translate}}<br />
                        {{'WIZARD_4_LINE_3'|translate}}<br />
                        {{'WIZARD_4_LINE_4'|translate}}<br />
                        {{'WIZARD_4_LINE_5'|translate}}<br />
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page>             
                <div class="wizard-app-mode-select-box">
                    <div>
                        <div class="text-center">
                            <h3>{{'CHOOSE_INTEREST'|translate}}</h3>
                        </div>                  
                        <div class="card item-text-wrapitem-text-wrap" ng-click="vm.setAppMode('snow')">
                            <div class="item item-avatar">
                                <i class="nve-icon nve-icon-snow item-image"></i>
                                <h2>{{'INTEREST_SNOW'|translate}}</h2>
                            </div>
                        </div>
                        <div class="card item-text-wrap" ng-click="vm.setAppMode('dirt')">
                            <div class="item item-avatar">
                                <i class="nve-icon nve-icon-dirt item-image"></i>
                                <h2>{{'INTEREST_DIRT'|translate}}</h2>
                            </div>
                        </div>
                        <div class="card item-text-wrap" ng-click="vm.setAppMode('water')">
                            <div class="item item-avatar">
                                <i class="nve-icon nve-icon-water item-image"></i>
                                <h2>{{'INTEREST_WATER'|translate}}</h2>
                            </div>
                        </div>
                        <div class="card item-text-wrap" ng-click="vm.setAppMode('ice')">
                            <div class="item item-avatar">
                                <i class="nve-icon nve-icon-ice item-image"></i>
                                <h2>{{'INTEREST_ICE'|translate}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
    <div class="bar bar-footer bar-dark" ng-click="vm.setAppMode('snow')">
        <div class="title start-wizard-footer">{{'SKIP_START_USE'|translate}}</div>
    </div>
</ion-view>