<ion-view class="start-wizard" hide-nav-bar="true">
    <ion-content class="has-footer">
        <ion-slides options="vm.options" slider="data.slider">
            <ion-slide-page>
                <div class="wizard-image-wrap blue">
                    <img class="info-img" ng-src="img/screenshot1_iphone6.png">
                </div>
                <div class="info-cards">
                    <h3>Vær trygg!</h3>
                    <p>
                        Les andres observasjoner.<br />
                        Les varsel.<br />
                        Planlegg turen med regObs og Varsom!
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="wizard-image-wrap green">
                    <img class="info-img" ng-src="img/screenshot3_iphone6.png">
                </div>
                <div class="info-cards">
                    <h3>Vær mer trygg!</h3>
                    <p>
                        Se hvor du er i forhold til farer.<br />
                        i terrenget. Bruk støttekartene!
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="wizard-image-wrap orange">
                    <img class="info-img" ng-src="img/screenshot4_iphone6.png">
                </div>
                <div class="info-cards">
                    <h3>Vær en helt!</h3>
                    <p>
                        Del dine vurderinger med andre. <br />
                        Hjelp dem ved å registrere dine observasjoner <br />
                        i regObs!
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="wizard-image-wrap yellow">
                    <img class="info-img" ng-src="img/screenshot5_iphone6.png">
                </div>
                <div class="info-cards">
                    <h3>Hva og hvordan?</h3>
                    <p>
                        Hva er viktigst for deg? <br />
                        Du velger hva du vil se og dele på regObs!
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="wizard-app-mode-select-box">
                    <div>
                        <div class="card item-text-wrapitem-text-wrap" ng-click="vm.setAppMode('snow')">
                            <div class="item item-avatar">
                                <img src="img/sno.png">
                                <h2>Ta meg til snøen!</h2>
                            </div>
                        </div>
                        <div class="card item-text-wrap" ng-click="vm.setAppMode('dirt')">
                            <div class="item item-avatar">
                                <img src="img/jord.png">
                                <h2>Jord til jordskredvarslingen!</h2>
                            </div>
                        </div>
                        <div class="card item-text-wrap" ng-click="vm.setAppMode('water')">
                            <div class="item item-avatar">
                                <img src="img/vann.png">
                                <h2>Vannstand, vannføring og flomskader!</h2>
                            </div>
                        </div>
                        <div class="card item-text-wrap" ng-click="vm.setAppMode('ice')">
                            <div class="item item-avatar">
                                <img src="img/is.png">
                                <h2>Istykkelse, bæreevne og skøyteforhold!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
    <div class="bar bar-footer bar-dark" ng-click="vm.setAppMode('snow')">
        <div class="title start-wizard-footer">Hopp over dette. Begynn å bruk.</div>
    </div>
</ion-view>