<ion-modal-view>
    <ion-header-bar>
        <button type="button" class="button button-clear button-calm" ng-click="modal.hide()">{{'CANCEL'|translate}}</button>
        <h1 class="title" ng-hide="editing">{{'NEW_AVALANCHE_ACTIVITY'|translate}}</h1>
        <h1 class="title" ng-show="editing">{{'EDIT_AVALANCHE_ACTIVITY'|translate}}</h1>
        <button type="button" class="button button-clear button-calm" ng-click="add()">{{'OK'|translate}}</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-checkbox ng-model="noActivity.val" ng-change="toggleNoActivity()">
                {{'NO_AVALANCHE_ACTIVITY'|translate}}
            </ion-checkbox>
            <div ng-hide="noActivity.val">
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">
                        {{'DATE'|translate}}
                    </span>
                    <input type="date" ng-model="dates.DtStart" ng-change="dateChanged()">
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">
                        {{'ESTIMATED_TIME'|translate}}
                    </span>
                    <select ng-model="dates.timeFrame"
                            ng-options="tf as tf.text for tf in dates.timeFrames track by tf.id"
                            ng-change="dateChanged()"></select>
                </label>
                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label">
                        {{'HOW_MANY_AVALANCHES'|translate}}
                    </span>
                    <select ng-model="obs.EstimatedNumTID"
                            ng-options="estimatedNum.Id as estimatedNum.Name for estimatedNum in estimatedNumKdvArray"
                            ng-change="estimatedNumChanged()">
                        <option value=""></option>
                    </select>
                </label>

                <kdv-dropdown title="{{'PROVIDE_AVALANCHE_TYPE'|translate}}"
                              model="obs.AvalancheExtTID"
                              kdv-key="Snow_AvalancheExtKDV">
                </kdv-dropdown>

                <kdv-dropdown title="{{'AVALANCHE_TRIGGER'|translate}}"
                              model="obs.AvalTriggerSimpleTID"
                              kdv-key="Snow_AvalTriggerSimpleKDV">
                </kdv-dropdown>


                <kdv-dropdown title="{{'DESTRUCTIVE_SIZE'|translate}}"
                              model="obs.DestructiveSizeTID"
                              kdv-key="Snow_DestructiveSizeKDV">
                </kdv-dropdown>

                <kdv-dropdown title="{{'AVALANCHE_PROPAGATION'|translate}}"
                              model="obs.AvalPropagationTID"
                              kdv-key="Snow_AvalPropagationKDV">
                </kdv-dropdown>

                <!--<kdv-dropdown
                        title="Utsatt høyde"
                        model="obs.ExposedHeightComboTID"
                        kdv-key="Snow_ExposedHeightComboKDV">
                </kdv-dropdown>-->
                <div class="item item-input item-stacked-label">
                    <span class="input-label">
                        {{'EXPOSED_HEIGHT_COMBO'|translate}}
                    </span>

                    <button type="button" class="button button-block exposedTop" ng-click="exposedHeight('top')"
                            ng-class="{'button-positive':obs.exposedHeight.top}">
                        {{'ON_TOP'|translate}}
                    </button>
                    <button type="button" class="button button-block exposedMid" ng-click="exposedHeight('mid')"
                            ng-class="{'button-positive':obs.exposedHeight.mid}">
                        {{'IN_MIDDLE'|translate}}
                    </button>
                    <button type="button" class="button button-block exposedBot" ng-click="exposedHeight('bot')"
                            ng-class="{'button-positive':obs.exposedHeight.bot}">
                        {{'ON_BOTTOM'|translate}}
                    </button>

                </div>

                <label class="item item-input item-stacked-label item-select" ng-show="obs.ExposedHeightComboTID">
                    <span class="input-label">
                        {{'EXPOSED_HEIGHT1'|translate}}
                    </span>
                    <select ng-model="obs.ExposedHeight1"
                            ng-options="height for height in heightArray"></select>
                </label>
                <label class="item item-input item-stacked-label item-select"
                       ng-show="obs.ExposedHeightComboTID === 4 || obs.ExposedHeightComboTID === 3">
                    <span class="input-label">
                        {{'EXPOSED_HEIGHT2'|translate}}
                    </span>
                    <select ng-model="obs.ExposedHeight2"
                            ng-options="height for height in heightArray"></select>
                </label>

                <div class="item item-input item-stacked-label">
                    <span class="input-label">
                        {{'VALID_EXPOSITION'|translate}}
                    </span>
                    <div class="button-bar">
                        <button type="button" class="button" ng-click="toggleExposition(7)"
                                ng-class="{'button-positive':exposition[7]}">
                            {{'NORTH_WEST_SHORT'|translate}}
                        </button>
                        <button type="button" class="button" ng-click="toggleExposition(0)"
                                ng-class="{'button-positive':exposition[0]}">
                            {{'NORTH_SHORT'|translate}}
                        </button>
                        <button type="button" class="button" ng-click="toggleExposition(1)"
                                ng-class="{'button-positive':exposition[1]}">
                            {{'NORTH_EAST_SHORT'|translate}}
                        </button>
                    </div>
                    <div class="button-bar">
                        <button type="button" class="button" ng-click="toggleExposition(6)"
                                ng-class="{'button-positive':exposition[6]}">
                            {{'WEST_SHORT'|translate}}
                        </button>
                        <button type="button" class="button" ng-click="toggleAllExpositions()"
                                ng-class="{'button-positive':allExpositionsToggled}">
                            {{'ALL'|translate}}
                        </button>
                        <button type="button" class="button" ng-click="toggleExposition(2)"
                                ng-class="{'button-positive':exposition[2]}">
                            {{'EAST_SHORT'|translate}}
                        </button>
                    </div>
                    <div class="button-bar">
                        <button type="button" class="button" ng-click="toggleExposition(5)"
                                ng-class="{'button-positive':exposition[5]}">
                            {{'SOUTH_WEST_SHORT'|translate}}
                        </button>
                        <button type="button" class="button" ng-click="toggleExposition(4)"
                                ng-class="{'button-positive':exposition[4]}">
                            {{'SOUTH_SHORT'|translate}}
                        </button>
                        <button type="button" class="button" ng-click="toggleExposition(3)"
                                ng-class="{'button-positive':exposition[3]}">
                            {{'SOUTH_EAST_SHORT'|translate}}
                        </button>
                    </div>
                </div>
            </div>

            <regobs-comment placeholder="{{'ADDITIONAL_COMMENT_2'|translate}}"
                            model="obs.Comment"></regobs-comment>
        </ion-list>
        <div class="padding">
            <button type="button" class="button button-block button-calm"
                    ng-click="add()">
                {{'SAVE'|translate}}
            </button>
            <button type="button" class="button button-block button-assertive button-clear"
                    ng-click="delete()"
                    ng-show="editing">
                {{'DELETE'|translate}}
            </button>
        </div>
    </ion-content>
</ion-modal-view>