<ion-modal-view>
    <ion-header-bar>
        <h1 class="title" ng-hide="editing">Nytt skredaktivitet</h1>
        <h1 class="title" ng-show="editing">Rediger skredaktivitet</h1>
        <button class="button button-clear button-positive" ng-click="modal.hide()">Avbryt</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>

            <regobs-time reg-data="obs.DtStart" text="Skred skjedd i perioden fra"></regobs-time>
            <regobs-time reg-data="obs.DtEnd" text="Skred skjedd i perioden til"></regobs-time>

            <kdv-dropdown
                    title="Hvor mange skred er det snakk om?"
                    model="obs.EstimatedNumTID"
                    kdv-key="Snow_EstimatedNumKDV">
            </kdv-dropdown>

            <kdv-dropdown
                    title="Angi skredtype"
                    model="obs.AvalancheExtTID"
                    kdv-key="Snow_AvalancheExtKDV">
            </kdv-dropdown>

            <kdv-dropdown
                    title="Skredutløser"
                    model="obs.AvalTriggerSimpleTID"
                    kdv-key="Snow_AvalTriggerSimpleKDV">
            </kdv-dropdown>


            <kdv-dropdown
                    title="Størrelse"
                    model="obs.DestructiveSizeTID"
                    kdv-key="Snow_DestructiveSizeKDV">
            </kdv-dropdown>

            <kdv-dropdown
                    title="Skredutbredelse"
                    model="obs.AvalPropagationTID"
                    kdv-key="Snow_AvalPropagationKDV">
            </kdv-dropdown>

            <!--<kdv-dropdown
                    title="Utsatt høyde"
                    model="obs.ExposedHeightComboTID"
                    kdv-key="Snow_ExposedHeightComboKDV">
            </kdv-dropdown>-->
            <div class="item item-input item-stacked-label">
                <span class="input-label">
                    Utsatt høyde
                </span>

                <button class="button button-block exposedTop" ng-click="exposedHeight('top')" ng-class="{'button-positive':obs.exposedHeight.top}">Øverst</button>
                <button class="button button-block exposedMid" ng-click="exposedHeight('mid')" ng-class="{'button-positive':obs.exposedHeight.mid}">I midten</button>
                <button class="button button-block exposedBot" ng-click="exposedHeight('bot')" ng-class="{'button-positive':obs.exposedHeight.bot}">Nederst</button>

            </div>

            <label class="item item-input item-stacked-label item-select" ng-show="obs.ExposedHeightComboTID">
                <span class="input-label">
                    Høyde
                </span>
                <select ng-model="obs.ExposedHeight1"
                        ng-options="height for height in heightArray">

                </select>
            </label>
            <label class="item item-input item-stacked-label item-select" ng-show="obs.ExposedHeightComboTID === 4 || obs.ExposedHeightComboTID === 3">
                <span class="input-label">
                    Nedre høyde
                </span>
                <select ng-model="obs.ExposedHeight2"
                        ng-options="height for height in heightArray">

                </select>
            </label>

            <div class="item item-input item-stacked-label">
                <span class="input-label">
                    Eksposisjon
                </span>
                <div class="button-bar">
                    <button class="button" ng-click="toggleExposition(7)" ng-class="{'button-positive':exposition[7]}">NV</button>
                    <button class="button" ng-click="toggleExposition(0)" ng-class="{'button-positive':exposition[0]}">N</button>
                    <button class="button" ng-click="toggleExposition(1)" ng-class="{'button-positive':exposition[1]}">NØ</button>
                </div>
                <div class="button-bar">
                    <button class="button" ng-click="toggleExposition(6)" ng-class="{'button-positive':exposition[6]}">V</button>
                    <button class="button" ng-click="toggleAllExpositions()" ng-class="{'button-positive':allExpositionsToggled}">Alle</button>
                    <button class="button" ng-click="toggleExposition(2)" ng-class="{'button-positive':exposition[2]}">Ø</button>
                </div>
                <div class="button-bar">
                    <button class="button" ng-click="toggleExposition(5)" ng-class="{'button-positive':exposition[5]}">SV</button>
                    <button class="button" ng-click="toggleExposition(4)" ng-class="{'button-positive':exposition[4]}">S</button>
                    <button class="button" ng-click="toggleExposition(3)" ng-class="{'button-positive':exposition[3]}">Sø</button>
                </div>
            </div>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Kommentar</span>
                <textarea placeholder="Ytterligere kommentar"
                          name="comment"
                          cols="30" rows="3"
                          ng-model="obs.Comment"></textarea>
            </label>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-calm"
                    ng-click="add()"
                    ng-hide="editing">Lagre</button>
            <button class="button button-block button-calm"
                    ng-click="modal.hide()"
                    ng-show="editing">Lagre</button>
            <button class="button button-block button-assertive button-clear"
                    ng-click="delete()"
                    ng-show="editing">Slett</button>
        </div>

    </ion-content>
</ion-modal-view>