
<ion-list can-swipe="true">
    <ion-item class="item-icon-right"
              ng-repeat="obs in reg.AvalancheActivityObs2 track by $index"
              ng-click="edit(obs, $index)">
        <ion-option-button class="button-assertive"
                           ng-click="reg.AvalancheActivityObs2.splice($index, 1)">
            {{'DELETE'|translate}}
        </ion-option-button>
        {{estimatedNumDict[obs.EstimatedNumTID]}} {{avalancheExtDict[obs.AvalancheExtTID]}}

    </ion-item>
</ion-list>
<div class="padding">
    <button type="button" class="button button-block button-balanced icon-left ion-plus"
            ng-click="new()">{{'ADD_AVALANCHE_ACTIVITY'|translate}}</button>

</div>