.obs-detail-image {
    width: 100% !important;
    max-height: 50vh !important;
    object-fit: contain;
}

.obs-detail-image-text {
    font-size: 12px;
    color: darkgray;
    margin-bottom: 0px;
}

.observation-slides .swiper-wrapper {
    position: relative !important;
    left: auto !important;
    top: auto !important;
    width: auto !important;
    height: auto !important;
    padding: 0px !important;
}

.observation-slides {
    width: 100%;
    height: auto;
}

.observation-slides .swiper-slide {
    text-align: center;
}

.registration-detail.water {
    display: block;
}

.registration-detail.water, registration-detail.ice, registration-detail.snow, registration-detail.dirt {
    background-color: #fff !important;
}

/*.registration-detail-type-wrapper {
    word-break: break-all;
}

.registration-detail-type-header {
    word-break: break-word;
}*/