.obs-detail-image {
    max-height: 72% !important;
}

.obs-detail-image-text {
    font-size: 12px;
    color: darkgray;
}

/*.registration-detail-type-wrapper {
    word-break: break-all;
}

.registration-detail-type-header {
    word-break: break-word;
}*/