<div class="padding">
    <div>
        <strong>{{$ctrl.registration.MunicipalName}}</strong> &bull; {{$ctrl.registration.DtObsTime | date:'dd.MM.yyyy HH:mm:ss'}} &bull; {{$ctrl.registration.getRegistrationCount()}} <i class="icon ion-eye"></i>
    </div>
    <div>
        {{$ctrl.registration.NickName}} <span ng-if="$ctrl.registration.getObservationCompetenceLevel()">(<i ng-repeat="star in $ctrl.registration.getObservationCompetenceLevel() track by $index" class="icon ion-ios-star-outline"></i>)</span>
        <span ng-if="!$ctrl.registration.getObservationCompetenceLevel()">({{'UNKNOWN_COMPETENCE'|translate}})</span>
    </div>
</div>
<div class="observation-slides" ng-if="$ctrl.registration.hasImages()">
    <ion-slides slider="data.slider" options="$ctrl.options">
        <ion-slide-page ng-repeat="img in $ctrl.registration.getImages() track by $index">
            <img ng-src="{{img.url}}" alt="obsimg" class="obs-detail-image" />
            <p class="padding obs-detail-image-text">
                <strong>{{'IMAGE' | translate}} {{($index+1)}} {{'OF' | translate}} {{$ctrl.registration.getImageCount()}}<span ng-if="img.description">:</span></strong> {{img.description}}
            </p>
        </ion-slide-page>
    </ion-slides>
</div>
<div class="padding">
    <span ng-repeat="obs in $ctrl.registration.getRegistrations()">
        <strong>{{obs.getName()}}:</strong>&nbsp;<span ng-repeat="desc in obs.getValues() track by $index"><span ng-if="$index > 0">&nbsp;&bull;&nbsp;</span>{{desc}}</span>
    </span>
</div>
<div class="padding">
    <button type="button" class="button button-block button-calm" ng-click="$ctrl.onViewWebRegistrationClick()">{{'VIEW_WEB_REGISTRATION'|translate}}</button>
</div>