<div class="map-search open">
    <div class="map-search-icon">
        <i class="icon ion-ios-search-strong"></i>
    </div>  
    <input type="text" autofocus id="map-search-input" ng-keyup="$ctrl.search()" ng-model="$ctrl.searchText" class="map-search-input" placeholder="Søk etter sted" />
    <div class="map-search-icon map-search-close" ng-click="$ctrl.close()">
        <i class="icon ion-close"></i>
    </div>
    <div class="search-item-divider" ng-show="$ctrl.loading || ($ctrl.searchResults && $ctrl.searchResults.length > 0)"></div>
    <div class="search-item loading-item text-center" ng-show="$ctrl.loading">
        <ion-spinner></ion-spinner>
    </div>
    <ion-scroll class="map-search-results" delegate-handle="mapSearchResultScroll" ng-show="$ctrl.searchResults && $ctrl.searchResults.length > 0 && !$ctrl.loading">     
        <div class="search-item" ng-click="$ctrl.goToLocation(item)" ng-class="{'search-item-first':$index === 0}" ng-repeat="item in $ctrl.searchResults">
            <span ng-bind-html="item.name | regobsHighlightText:$ctrl.searchText"></span><span class="search-item-description">, {{item.description}}</span>
        </div>
    </ion-scroll> 
</div>