<ion-view view-title="{{'CONFIRM_POSITION'|translate}}" }>
    <ion-content scroll="false">
        <div class="set-position-in-map-wrapper">
            <div class="set-position-in-map">
                <div id="confirm-map" class="regobs-map" data-tap-disabled="true"></div>
            </div>
            <div class="mark-position-in-map-info" ng-class="{'show-details':vm.showDetails}">
                <div class="set-position-button-wrapper">
                    <button class="button button-block button-calm set-position-button" ng-click="vm.savePosition()">{{'CONFIRM_POSITION'|translate}}</button>
                </div>
                <div class="map-detail-text">
                    <div class="text-center" ng-click="vm.toggleDetails()">
                        <div ng-show="!vm.showDetails">Vis detaljer</div>
                        <div ng-show="vm.showDetails">Skjul detaljer</div>
                        <i class="icon ion-chevron-up" ng-class="{'ion-chevron-up':!vm.showDetails, 'ion-chevron-down': vm.showDetails}"></i>
                    </div>
                    <div>
                        <div class="map-detail-left-column">
                            <!--<img src="http://localhost:4400/lib/leaflet/dist/images/marker-icon-2x.png" class="map-detail-marker" />-->
                            <div class="awesome-marker awesome-marker-icon-red map-detail-position">
                                <i class="ion ion-record icon-white"></i>
                            </div>
                            <div>
                                <svg width="4px" height="15px" viewBox="0 0 4 15">
                                    <line x1="1" x2="1" y1="2" y2="14" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1,4"></line>
                                </svg>
                            </div>

                            <div>20 m</div>
                            <div>
                                <svg width="4px" height="15px" viewBox="0 0 4 15">
                                    <line x1="1" x2="1" y1="2" y2="14" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-dasharray="1,4"></line>
                                </svg>
                            </div>
                            <div>
                                <div class="leaflet-usermarker-small map-detail-position">
                                    <i class="pulse"></i>
                                </div>
                            </div>

                        </div>
                        <div class="map-detail-right-column">
                            <div class="map-detail-top-box">
                                <div class="arrow-box-arrow"></div>
                                <div class="arrow-box-arrow-cover"></div>
                                <div class="arrow-box">
                                    <div>OBSERVASJONSPUNKT</div>
                                    <div>Brekkestranda, 149 moh</div>
                                    <div>59'58'13''N, 10.45,57E</div>
                                </div>
                            </div>
                            <div class="map-detail-bottom-box">
                                <div class="arrow-box-arrow"></div>
                                <div class="arrow-box-arrow-cover"></div>
                                <div class="arrow-box">
                                    <div>DIN POSISJON</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="text-center mark-position-info-bottom">

                    <div class="mark-position-info-icon"><i class="icon ion-location"></i></div>
                    <div class="mark-position-info-text"><span ng-show="!vm.hasMoved">{{'SET_POSITION_INFO'|translate}}</span><span ng-show="vm.hasMoved">{{vm.getMarkerLatLngText()}}</span></div>
                    <div class="mark-position-info-distance small-text" ng-show="vm.hasMoved && vm.distanceText">{{vm.distanceText}} {{'AWAY' | translate}}</div>
                    <button class="button button-small button-clear icon-left ion-pinpoint button-calm" ng-click="vm.resetToGps()" ng-show="vm.showGpsReset()">Tilbakestill</button>
                </div>-->

            </div>
        </div>
    </ion-content>
</ion-view>