.set-position-in-map-wrapper .nve-icon {
    padding-left: 0px;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.set-position-in-map-wrapper .nve-icon-snow {
    background: url(../img/ikon_snoskred.svg) left/20px no-repeat;
}
.set-position-in-map-wrapper .nve-icon-water {
    background: url(../img/ikon_flom.svg) left/20px no-repeat;
}

.set-position-in-map-wrapper .nve-icon-ice {
    background: url(../img/ikon_isvarsler2.svg) left/20px no-repeat;
}

.set-position-in-map-wrapper .nve-icon-dirt {
    background: url(../img/ikon_jordskred.svg) left/20px no-repeat;
}

.leaflet-info-container-wrapper span {
    position: relative;
    top: -1px;
}
