<div ng-if="downloadStatus">
    <div class="downloadprogress" pb-circle progress-key="{{progressName}}" options="progressOptions"></div>
    <div ng-show="downloadStatus.hasError() && !downloadStatus.isCancelled()" class="item-text-wrap text-center">
        <span ng-bind="downloadStatus.getErrors().length"></span>/<span ng-bind="downloadStatus.getTotal()"></span> {{"FAILED" | translate | lowercase}}
    </div>
</div>
<div ng-if="!downloadStatus && !complete" class="text-center">
    <ion-spinner></ion-spinner>
</div>
<div class="item-text-wrap text-center" ng-if="showLongDownloadMessage && !complete">{{"SLOW_DOWNLOAD_MESSAGE" | translate}}</div>
<div class="popup-buttons">
    <button type="button" class="button button-dark" ng-show="isRunning()" ng-click="cancelDownload()">
        <div class="center-vertical-horizontal">
            {{"CANCEL" | translate}} <ion-spinner class="button-spinner" ng-show="isProcessing()"></ion-spinner>
        </div>
    </button>
    <button type="button" class="button button-calm" ng-show="complete && !closeOnComplete" ng-click="closePopup()">{{"OK" | translate}}</button>
</div>