# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea/
www/dist/
config.keys.js
www/lib/
nve.keystore
secret.json
/.vs/config/applicationhost.config
/bin/Android
/.vs/regObs3/v14/.suo
/res
/build.json
/bld/iOS/Debug
/bin/iOS/Debug
/.vs/regObs3/v15/.suo
simulation/
/bin/iOS/Release
/bld/iOS/Release
