<ion-view view-title="Istykkelse">
    <ion-content>
        <ion-list>
            <label class="item item-input item-stacked-label" >
                <span class="input-label">Tørr snø før boring (cm)</span>
                <input type="number" placeholder="I centimeter"
                       ng-model="vm.SnowDepth" ng-change="vm.propChanged('SnowDepth')" />
            </label>

            <label class="item item-input item-stacked-label" >
                <span class="input-label">Sørpe før boring (cm)</span>
                <input type="number" placeholder="I centimeter"
                       ng-model="vm.SlushSnow" ng-change="vm.propChanged('SlushSnow')" />
            </label>

            <regobs-ice-layer obs-object="vm.iceThickness"></regobs-ice-layer>

            <label class="item item-input item-stacked-label" >
                <span class="input-label">Total istykkelse (cm)*</span>
                <input type="number" placeholder="I centimeter"
                       ng-model="vm.IceThicknessSum" ng-change="vm.propChanged('IceThicknessSum')" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Kommentar</span>
                <textarea placeholder="Ytterligere beskrivelse"
                          name="comment"
                          cols="30" rows="3"
                          ng-model="vm.iceThickness.Comment"></textarea>
            </label>
        </ion-list>
        <regobs-image-list></regobs-image-list>
    </ion-content>
</ion-view>