<ion-view view-title="Snø">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right" ui-sref="snowregistrationNew">
                Ny observasjon
                <span class="badge badge-balanced" ng-if="appVm.registrationIsType('snow')">1</span>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </ion-item>
            <div ng-show="!appVm.userService.getUser().anonymous">
            <ion-item class="item-icon-right" ui-sref="snowtrip" ng-hide="appVm.trip.model.started">
                Meld fra om tur
                <i class="icon icon-accessory ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right"
                      ng-show="appVm.trip.model.started"
                      ng-click="appVm.stopTrip()">
                Avslutt tur
                <i class="icon balanced ion-android-walk"></i>
            </ion-item>
            </div>
            <div class="item item-complex">
                <a class="item-content" href="" ng-click="vm.openObservations()">Se observasjoner</a>
            </div>
            <div class="item item-complex">
                <a class="item-content" href="" ng-click="vm.openWarnings()">Se varsel</a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>