<ion-view view-title="Isdekningsgrad">
    <ion-content>
        <ion-list>

            <kdv-dropdown
                    title="Isdekning*"
                    model="vm.iceCoverObs.IceCoverTID"
                    kdv-key="Ice_IceCoverKDV">
            </kdv-dropdown>

            <kdv-dropdown
                    title="Isdekning før observasjon"
                    model="vm.iceCoverObs.IceCoverBeforeTID"
                    kdv-key="Ice_IceCoverBeforeKDV">
            </kdv-dropdown>

            <kdv-dropdown
                    title="Bæreevne"
                    model="vm.iceCoverObs.IceCapacityTID"
                    kdv-key="Ice_IceCapacityKDV">
            </kdv-dropdown>

            <kdv-dropdown
                    title="Skøytbarhet"
                    model="vm.iceCoverObs.IceSkateabilityTID"
                    kdv-key="Ice_IceSkateabilityKDV">
            </kdv-dropdown>

            <label class="item item-input item-input-inset">
                <textarea placeholder="Kommentar"
                          name="comment"
                          cols="30" rows="3"
                          ng-model="vm.iceCoverObs.Comment"></textarea>
            </label>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-calm"
                    ng-click="vm.save(true)">Lagre</button>
        </div>

    </ion-content>
<!--    <ion-footer-bar class="bar-calm row-no-padding">
        <button class="button button-block button-calm row-no-padding"  style="margin: 0px"
                ng-click="vm.addIceCoverObs()">Legg til</button>
    </ion-footer-bar>-->
</ion-view>