<ion-view view-title="Snødekke">
    <ion-content>
        <ion-list>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Snødybde (cm)</span>
                <input type="tel" placeholder="I hele centimeter"
                       ng-model="vm.obs.SnowDepth" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Nysnødybde (cm)</span>
                <input type="tel" placeholder="I hele centimeter"
                       ng-model="vm.obs.NewSnowDepth24" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Nysnøgrense (moh)</span>
                <input type="tel" placeholder="I meter over havet"
                       ng-model="vm.obs.NewSnowLine" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Snøgrense (moh)</span>
                <input type="tel" placeholder="I meter over havet"
                       ng-model="vm.obs.SnowLine" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Grense lagdelt snø (moh)</span>
                <input type="tel" placeholder="Øvre høydegrense for snø uten farlig lagdeling (også kalt førefall, vårskisnø, omdannet snø)"
                       ng-model="vm.obs.HeightLimitLayeredSnow" />
            </label>

            <kdv-dropdown
                    title="Snøfokk"
                    model="vm.obs.SnowDriftTID"
                    kdv-key="Snow_SnowDriftKDV">
            </kdv-dropdown>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Kommentar</span>
                <textarea placeholder="Hvordan er snøfordelingen generelt ifht. høyde og eksposisjon. Er det forskjell i regionen?"
                          name="comment"
                          cols="30" rows="3"
                          ng-model="vm.obs.Comment"></textarea>
            </label>
        </ion-list>

        <regobs-form-footer registration-prop="vm.registrationProp"></regobs-form-footer>
    </ion-content>
</ion-view>

<!--
/*"SnowSurfaceObservation": {
"SnowDepth": "0.0100",
"NewSnowDepth24": "0.0200",
"NewSnowLine": "3",
"SnowLine": "4",
"HeightLimitLayeredSnow": "5",
"SnowDriftTID": "2",
"Comment": "Kommentar "
}*/-->
