.confirm-observation-time-button-panel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 140px;
    background-color: #f7f7f7;
}

.confirm-observation-time-button-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.confirm-observation-time-label {
    padding-top: 40px;
}

.confirm-observation-time-button {
    position: absolute;
    right: 10px;
    top: 10px;
}
