<ion-view view-title="{{'DATE_AND_TIME'|translate}}">
    <ion-content>
        <ion-list>
            <div class="item item-divider item-divider-calm">
                {{'OBSERVATION_TIME_DESCRIPTION'|translate}} <button type="button" class="button button-small extra-padding button-outline button-grey icon-left ion-clock confirm-observation-time-button" ng-click="vm.setToNow()">&nbsp;{{'NOW'|translate}}</button>
            </div>

            <div class="item item-input">
                <input class="extra-large-time" type="datetime-local" ng-model="vm.time">
            </div>

        </ion-list>
        <div class="confirm-observation-time-button-panel">
            <div class="confirm-observation-time-button-wrapper">
                <button class="button button-block button-calm" ng-click="vm.save()">{{'CONFIRM'|translate}} {{'DATE_AND_TIME'|translate|lowercase}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>