<ion-view view-title="Faretegn - is">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right"
                      ng-repeat="obs in vm.dangerObsArray"
                    ng-click="vm.editDangerObs(obs)">
                {{vm.getDangerSignName(obs.DangerSignTID)}} - {{::obs.Comment}}
            </ion-item>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-balanced icon-left ion-plus"
                    ng-click="vm.newDangerObs()">Legg til nytt faretegn</button>

            <button class="button button-block button-calm button-clear"
                    ng-click="appVm.back()">Ferdig</button>

        </div>

    </ion-content>
</ion-view>