<ion-modal-view>
    <ion-header-bar>
        <button type="button" class="button button-clear button-calm" ng-click="modal.hide()">{{'CANCEL'|translate}}</button>
        <h1 class="title" ng-hide="editing">{{'NEW_URL'|translate}}</h1>
        <h1 class="title" ng-show="editing">{{'EDIT_URL'|translate}}</h1>
        <button type="button" class="button button-clear button-calm" ng-click="addUrl()">{{'OK'|translate}}</button>
    </ion-header-bar>
    <ion-content>
        <form name="newUrlForm" novalidate>
            <ion-list>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'DESCRIPTION'|translate}}</span>
                    <textarea placeholder="{{'DESCRIPTION'|translate}}"
                              name="description"
                              id="url_description"
                              cols="30" rows="3"
                              maxlength="1024"
                              ng-model="url.UrlDescription"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'URL'|translate}}</span>
                    <textarea placeholder="{{'URL'|translate}}" autocapitalize="none"
                              name="url"
                              id="url_line"
                              cols="30" rows="3"
                              maxlength="1024"
                              ng-model="url.UrlLine"></textarea>
                </label>
            </ion-list>
            <div class="padding">
                <button type="button" ng-click="addUrl()" class="button button-block button-calm">{{"SAVE"|translate}}</button>
                <button type="button" class="button button-block button-assertive button-clear"
                        ng-click="deleteUrl()"
                        ng-show="editing">
                    {{'DELETE'|translate}}
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>