<ion-view view-title="{{'MY_OBSERVATIONS'|translate}}">
    <ion-content>
        <ion-refresher pulling-text="{{'PULL_TO_REFRESH'|translate}}"
                       on-refresh="vm.update()">
        </ion-refresher>
        <ion-list>
            <div ng-repeat="obs in vm.observations | orderBy:'-DtObsTime'">
                <ion-item ng-if="obs.isLocal" class="item-icon-right item-icon-left" ui-sref="registrationstatus({observation:obs})">
                    <i class="icon ion-close-circled assertive"></i>
                    <h2>{{obs.DtObsTime | date:'d/M HH:mm'}} &bull; Innsending feilet</h2>
                    <p>Observasjonen ligger lagret lokalt</p>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </ion-item>
                <ion-item ng-if="!obs.isLocal" class="item-icon-right item-icon-left" ui-sref="observationdetails({observation:obs})">
                    <i class="icon nve-icon nve-list-icon nve-icon-{{vm.getGeoHazardName(obs)}}"></i>
                    <h2>{{obs.DtObsTime | date:'d/M HH:mm'}} &bull; <span ng-if="obs.LocationName">{{obs.LocationName | capitalize}} - </span><span ng-if="obs.MunicipalName">{{obs.MunicipalName | capitalize}}, </span>{{obs.ForecastRegionName | capitalize}}</h2>
                    <p>{{obs.getObservationTypeDescription()}}</p>
                    <span ng-repeat="pic in obs.getImages()">
                        <img width="50" ng-src="{{pic.url}}" />   
                    </span>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </ion-item>
            </div>
            <div class="item item-text-wrap" ng-if="!vm.isLoading && vm.observations.length === 0">
                <p>{{'NO_OBSERVATIONS'|translate}}</p>
                <button type="button" class="button button-block button-calm" ng-click="vm.update()">
                    {{'UPDATE_OBSERVATIONS'|translate}}
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>