.geo-hazard-icon-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 53px;
    text-align: center;
    font-size: 12px;
    color: #667676;
    border-right: 1px solid #ddd;
    padding-top: 10px;
}

.geo-hazard-icon-description .nve-list-icon {
    position: relative;
}

.user-observation-list .item-content {
    padding-left: 58px !important;
}

.user-observation-list h2 {
    font-weight: 500;
}

.user-observation-list .unsent-item .item-content {
    background-color: #F2F2F2;
    padding-bottom: 5px;
    padding-right: 30px;
}

.user-observation-list .unsent-item .unsent-item-error-message i {
    display: inline-block;
    position: relative;
    font-size: 20px;
    top: 2px;
}

.user-observation-list .unsent-item .unsent-item-error-message i:before {
    width: 24px;
}


.user-observation-list .unsent-item .unsent-item-error-message {
    border: 1px solid red;
    padding: 2px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    white-space: normal;
}
