<ion-view view-title="{{'WATER_LEVEL'|translate}}" class="grey-view">
    <ion-nav-buttons side="right">
        <nav-saving-indicator></nav-saving-indicator>
    </ion-nav-buttons>
    <ion-content>
        <regobs-form save-action="vm.save()" back-state="newregistration">
            <ion-list>
                <kdv-dropdown title="WATER_LEVEL_TREND_REGISTRATION_HEADER"
                              model="vm.reg.WaterLevel2.WaterLevelStateTID"
                              kdv-key="Water_WaterLevelStateKDV"
                              show-as-radio="true">
                </kdv-dropdown>
                <kdv-dropdown title="WATER_ASTRAY_REGISTRATION_HEADER"
                              model="vm.reg.WaterLevel2.WaterAstrayTID"
                              kdv-key="Water_WaterAstrayKDV"
                              show-as-radio="true">
                </kdv-dropdown>
                <kdv-dropdown title="WATER_OBSERVATION_TIMING_REGISTRATION_HEADER"
                              model="vm.reg.WaterLevel2.ObservationTimingTID"
                              kdv-key="Water_ObservationTimingKDV"
                              show-as-radio="true">
                </kdv-dropdown>
                <kdv-dropdown title="WATER_LEVEL_METHOD_REGISTRATION_HEADER"
                              model="vm.reg.WaterLevel2.WaterLevelMethodTID"
                              kdv-key="Water_WaterLevelMethodKDV" change-handler="vm.waterLevelMethodChanged()"
                              show-as-radio="true">
                </kdv-dropdown>
                <div class="white-background" ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 1">
                    <div class="item item-divider item-divider-calm">
                        {{'WATER_LEVEL_MARKING_REFERENCE_HEADER' | translate}}
                    </div>
                    <div ng-repeat="kdv in vm.markingKdvArray">
                        <ion-radio class="radio-left radio-calm" ng-model="vm.reg.WaterLevel2.MarkingReferenceTID" name="Water_MarkingReferenceKDV" ng-value="kdv.Id">
                            {{kdv.Name}}
                        </ion-radio>
                        <regobs-comment class="radio-textarea" ng-show="vm.reg.WaterLevel2.MarkingReferenceTID === kdv.Id" min-height="80" hide-label="true" placeholder="{{'MARKING_DESCRIPTION'|translate}}" model="vm.reg.WaterLevel2.Comment"></regobs-comment>
                    </div>

                    <kdv-dropdown title="WATER_LEVEL_MARKING_TYPE_HEADER"
                                  model="vm.reg.WaterLevel2.MarkingTypeTID"
                                  kdv-key="Water_MarkingTypeKDV"
                                  show-as-radio="true">
                    </kdv-dropdown>
                </div>
                <div class="white-background" ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 2">
                    <kdv-dropdown title="WATER_MEASUREMENT_TYPE_HEADER"
                                  model="vm.reg.WaterLevel2.MeasurementTypeTID"
                                  kdv-key="Water_MeasurementTypeKDV" change-handler="vm.waterMeasurementTypeChanged()"
                                  show-as-radio="true">
                    </kdv-dropdown>
                    <div ng-show="vm.reg.WaterLevel2.MeasurementTypeTID === 1">
                        <div class="item item-divider item-divider-calm">
                            {{'WATER_LEVEL_MEASUREMENT_REFERENCE_HEADER' | translate}}
                        </div>
                        <div ng-repeat="kdv in vm.measurementReferenceKdvArray">
                            <ion-radio class="radio-left radio-calm" ng-change="vm.clearComment()" ng-model="vm.reg.WaterLevel2.MeasurementReferenceTID" name="Water_MeasurementReferenceKDV" ng-value="kdv.Id">
                                {{kdv.Name}}
                            </ion-radio>
                            <regobs-comment class="radio-textarea" ng-show="vm.reg.WaterLevel2.MeasurementReferenceTID === kdv.Id" min-height="80" hide-label="true" placeholder="{{'MEASUREMENT_DESCRIPTION'|translate}}" model="vm.reg.WaterLevel2.Comment"></regobs-comment>
                        </div>
                    </div>
                    <regobs-comment ng-show="vm.reg.WaterLevel2.MeasurementTypeTID === 3" label-text="{{'MEASURING_TOOL'|translate}}" placeholder="{{'MEASURING_TOOL_PLACEHOLDER'|translate}}" model="vm.reg.WaterLevel2.MeasuringToolDescription"></regobs-comment>
                </div>
                <div class="white-background" ng-if="vm.reg.WaterLevel2.WaterLevelMethodTID" ng-repeat="m in vm.WaterLevelMeasurement">
                    <div class="item item-divider item-divider-calm">
                        <span ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 1">{{'MARKING'|translate}}</span><span ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 2">{{'MEASUREMENT'|translate}}</span> {{($index+1)}} <div class="item-divider-button-right" ng-show="vm.showRemoveWaterMeasurment($index)"><button type="button" ng-click="vm.removeMeasurement($index)" class="button button-small button-dark button-clear icon-right ion-close-round">{{'REMOVE'|translate}}</button></div>
                    </div>
                    <regobs-number ng-if="vm.reg.WaterLevel2.WaterLevelMethodTID === 2" field-name="water_level_value"
                                   label="{{(vm.reg.WaterLevel2.MeasurementTypeTID === 3 ? 'WATER_LEVEL_VALUE_ABSOLUTE' : 'WATER_LEVEL_VALUE') | translate}}"
                                   model="m.WaterLevelValue"
                                   min="0"
                                   max="10000"></regobs-number>
                    <div>
                        <button type="button" class="button time-button button-outline button-small extra-padding button-grey icon-left ion-clock float-right" ng-click="vm.setToNow(m)">&nbsp;{{'NOW'|translate}}</button>
                    </div>
                    <label class="item item-input item-stacked-label no-border input-time-right">
                        <span class="input-label" ng-class="{assertive:(m.Pictures.length > 0 && !m.DtMeasurementTime)}">{{'TIME'|translate}}</span>
                        <input name="{{'DtMeasurementTime_' +$index }}" type="datetime-local" ng-model="m.DtMeasurementTime" ng-required="m.Pictures.length > 0">
                    </label>
                    <div class="item" ng-repeat="pic in m.Pictures">
                        <div class="border-thin item-image no-bottom-margin">
                            <img ng-src="{{pic.PictureImageBase64}}">
                            <div class="padding">
                                <div class="input-label normalcase">{{'IMAGE_DESCRIPTION'|translate}}:</div>
                                <regobs-comment class="bordered" hide-label="true" placeholder="{{'IMAGE_DESCRIPTION_PLACEHOLDER'|translate}}" model="pic.PictureComment"></regobs-comment>
                            </div>
                            <i class="icon icon-remove-image ion-close-round" ng-click="vm.removeImage(m, $index)"></i>
                        </div>
                    </div>
                    <div class="item item-icon-left" on-tap="vm.addWaterLevelPicture(m)">
                        <i class="icon ion-image small-icon"></i> + <span ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 1">{{'ADD_WATER_MARK_IMAGE'|translate}}</span><span ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 2">{{'ADD_WATER_MEASUREMENT_IMAGE'|translate}}</span>
                    </div>
                    <regobs-comment ng-if="vm.reg.WaterLevel2.WaterLevelMethodTID === 1" label-text="{{'MARKING_COMMENT_DESCRIPTION'|translate}}" placeholder="{{'MARKING_DESCRIPTION_PLACEHOLDER'|translate}}" model="m.Comment"></regobs-comment>
                    <regobs-comment ng-if="vm.reg.WaterLevel2.WaterLevelMethodTID !== 1" label-text="{{'MEASURING_DESCRIPTION'|translate}}" placeholder="{{'MEASURING_DESCRIPTION_PLACEHOLDER'|translate}}" model="m.Comment"></regobs-comment>
                </div>
                <div ng-if="vm.reg.WaterLevel2.WaterLevelMethodTID">
                    <div class="item item-divider">
                        &nbsp;
                    </div>
                    <div class="item item-icon-left" ng-click="vm.addWaterLevelMeasurement()">
                        + <span ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 1">{{'ADD_WATER_MARKING'|translate}}</span><span ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 2">{{'ADD_WATER_MEASUREMENT'|translate}}</span>
                    </div>
                </div>

                <div class="regobs-next-prev-footer">
                    <div class="regobs-next-prev-footer-content">
                        <button type="button" class="button button-large button-outline button-calm icon-left ion-android-arrow-back prev-button" ui-sref="confirmtime">{{'PREVIOUS'|translate}}</button>
                        <button type="button" class="button button-large button-calm icon-right ion-android-arrow-forward next-button" ui-sref="damageobs" ui-sref-opts="{reload: true}">{{'NEXT'|translate}}</button>
                        <div>
                            <button type="submit" class="button button-large button-block button-grey button-outline"><i class="icon ion-eye"></i>&nbsp;&nbsp;{{'VIEW_MY_OBSERVATION'|translate}}</button>
                        </div>
                        <button type="button" ng-click="vm.reset()" class="button button-positive button-block button-clear ion-android-close">
                            {{'CLEAR'|translate}}
                        </button>
                    </div>
                </div>
            </ion-list>
        </regobs-form>
        <!--<button type="button" ui-sref="help({page:'waterlevel'})" class="button button-positive button-block button-clear">
            {{'HELP'|translate}}
        </button>-->
    </ion-content>
</ion-view>

