.radio-textarea {
    width: 80%;
    position: relative;
    top: 10px;
    left: 13px;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 20px;
}

label.radio-left {
    border-bottom: none;
}