<ion-view view-title="{{'WATER_LEVEL'|translate}}">
    <ion-content class="has-footer">
        <form name="waterLevelForm" novalidate>
            <ion-list>
                <kdv-dropdown title="WATER_LEVEL_TREND_REGISTRATION_HEADER"
                              model="vm.reg.WaterLevel2.WaterLevelTrendTID"
                              kdv-key="Water_WaterLevelTrendKDV"
                              show-as-radio="true">
                </kdv-dropdown>
                <kdv-dropdown title="WATER_ASTRAY_REGISTRATION_HEADER" 
                              model="vm.reg.WaterLevel2.WaterAstrayTID"
                              kdv-key="Water_WaterAstrayKDV"
                              show-as-radio="true">
                </kdv-dropdown>
                <kdv-dropdown title="WATER_OBSERVATION_TIMING_REGISTRATION_HEADER" 
                              model="vm.reg.WaterLevel2.WaterObservationTimingTID"
                              kdv-key="Water_WaterObservationTimingKDV"
                              show-as-radio="true">
                </kdv-dropdown>
                <kdv-dropdown title="WATER_LEVEL_METHOD_REGISTRATION_HEADER" 
                              model="vm.reg.WaterLevel2.WaterLevelMethodTID"
                              kdv-key="Water_WaterLevelMethodKDV"
                              show-as-radio="true">
                </kdv-dropdown>

                

                <div ng-show="vm.reg.WaterLevel2.WaterLevelMethodTID === 1">
                    <kdv-dropdown title="WATER_LEVEL_MARKING_REFERENCE_HEADER"
                                  model="vm.reg.WaterLevel2.MarkingReferenceTID"
                                  kdv-key="Water_MarkingReferenceKDV"
                                  show-as-radio="true">
                    </kdv-dropdown>
                    <kdv-dropdown title="WATER_LEVEL_MARKING_TYPE_HEADER"
                                  model="vm.reg.WaterLevel2.MarkingTypeTID"
                                  kdv-key="Water_MarkingTypeKDV"
                                  show-as-radio="true">
                    </kdv-dropdown>
                </div>

                <!--<ion-checkbox ng-model="vm.reg.WaterLevelChoice"
                              ng-true-value="1"
                              ng-change="vm.resetModel()">{{'RIVER'|translate}}
                </ion-checkbox>
                <ion-checkbox ng-model="vm.reg.WaterLevelChoice"
                              ng-true-value="2"
                              ng-change="vm.resetModel()">{{'LAKE'|translate}}
                </ion-checkbox>
                <div ng-if="vm.reg.WaterLevelChoice">
                    <regobs-number
                            field-name="vannstand"
                            label="{{'WATER_LEVEL'|translate}} (m)"
                            help-text="{{'IN_METER'|translate}}"
                            model="vm.reg.WaterLevel.WaterLevelValue"
                            min="0" max="9999"
                    ></regobs-number>
                    <kdv-dropdown ng-show="vm.reg.WaterLevelChoice === 1"
                                  title="WATER_LEVEL_REF"
                                  model="vm.reg.WaterLevel.WaterLevelRefTID"
                                  kdv-key="Water_WaterLevelRefKDV"
                                  before="200">
                    </kdv-dropdown>
                    <kdv-dropdown ng-show="vm.reg.WaterLevelChoice === 2"
                                  title="WATER_LEVEL_REF"
                                  model="vm.reg.WaterLevel.WaterLevelRefTID"
                                  kdv-key="Water_WaterLevelRefKDV"
                                  after="200">
                    </kdv-dropdown>
                    <regobs-number
                            ng-if="vm.reg.WaterLevelChoice === 1"
                            field-name="vannføring"
                            label="{{'ACTUAL_DISCHARGE'|translate}} (m3/s)"
                            help-text="{{'ACTUAL_DISCHARGE_HELP_TEXT'|translate}}"
                            model="vm.reg.WaterLevel.MeasuredDischarge"
                            min="0"
                            max="500000000"
                    ></regobs-number>
                    <regobs-comment
                            placeholder="{{'ADDITIONAL_COMMENT'|translate}}"
                            model="vm.reg.WaterLevel.Comment"
                    ></regobs-comment>
                </div>-->
            </ion-list>
            <regobs-image-list></regobs-image-list>
        </form>
        <button type="button" ui-sref="help({page:'waterlevel'})" class="button button-positive button-block button-clear">
            {{'HELP'|translate}}
        </button>
    </ion-content>
    <form-footer></form-footer>
</ion-view>

