<ion-modal-view>
    <ion-header-bar>
        <button type="button" class="button button-clear button-calm" ng-click="modal.hide()">{{'CANCEL'|translate}}</button>
        <h1 class="title" ng-hide="editing">{{'NEW_STABILITY_TEST'|translate}}</h1>
        <h1 class="title" ng-show="editing">{{'EDIT_STABILITY_TEST'|translate}}</h1>
        <button type="button" class="button button-clear button-calm" ng-click="addStabilityTest()">{{'OK'|translate}}</button>
    </ion-header-bar>
    <ion-content>
        <form name="newStabilityTestForm" novalidate>
            <ion-list>
                <label class="item item-input item-select item-stacked-label">
                    <span class="input-label">{{'TEST_TYPE'|translate}}</span>
                    <select ng-model="stabilityTest.PropagationTID" ng-change="changeTestType()"
                            ng-options="kdv.Id as kdv.Name for kdv in snowPropagationKdvArray">
                        <option value=""></option>
                    </select>
                </label> 
               
                <label ng-hide="isCTNorECTXorCTVorECTV()" class="item item-input item-select item-stacked-label">
                    <span class="input-label">{{'TAPS_FRACTURE'|translate}}</span>
                    <select ng-model="stabilityTest.TapsFracture"
                            ng-options="n as n for n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]"></select>
                </label>

                <regobs-number ng-hide="isCTNorECTX()" field-name="fractureDepth"
                                   label="{{'DISTANCE_FROM_TOP'|translate}}"
                                   help-text="{{'IN_WHOLE_CM'|translate}}"
                                   model="stabilityTest.tempFractureDepth"
                                   min="0"
                                   max="10000"
                                   step="1"
                                   pattern="[0-9]*"></regobs-number>
                
                <label ng-hide="isCTNorECTX()" class="item item-input item-select item-stacked-label">
                    <span class="input-label">{{'COMPR_TEST_FRACTURE'|translate}}</span>
                    <select ng-model="stabilityTest.ComprTestFractureTID"
                            ng-options="kdv.Id as kdv.Name for kdv in snowComprTestFractureKdvArray">
                        <option value=""></option>
                    </select>
                </label> 

                <kdv-dropdown title="{{'STABILITY_EVAL'|translate}}"
                              model="stabilityTest.StabilityEvalTID"
                              kdv-key="Snow_StabilityEvalKDV">
                </kdv-dropdown>
                <regobs-comment model="stabilityTest.Comment"></regobs-comment>
            </ion-list>
            <div class="padding">
                <button type="button" ng-click="addStabilityTest()" ng-disabled="newStabilityTestForm.$invalid" class="button button-block button-calm">{{"SAVE"|translate}}</button>
                <button type="button" class="button button-block button-assertive button-clear"
                        ng-click="deleteStabilityTest()"
                        ng-show="editing">
                    {{'DELETE'|translate}}
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
