<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-calm" ng-click="modal.hide()">Avbryt</button>
        <h1 class="title" ng-hide="editing">Ny stabilitetstest</h1>
        <h1 class="title" ng-show="editing">Rediger stabilitetstest</h1>
        <button class="button button-clear button-calm" ng-click="addStabilityTest()">OK</button>
    </ion-header-bar>
    <ion-content>
        <form name="newStabilityTestForm" novalidate>
            <ion-list>
                <label class="item item-input item-select item-stacked-label">
                    <span class="input-label">Test Type</span>
                    <select ng-model="stabilityTest.PropagationTID" ng-change="changeTestType()"
                            ng-options="kdv.Id as kdv.Name for kdv in snowPropagationKdvArray"></select>
                </label> 

                <label class="item item-input item-select item-stacked-label">
                    <span class="input-label" >Antall Slag</span>
                    <select ng-disabled="isCTNorECTX()" ng-model="stabilityTest.TapsFracture"
                            ng-options="n as n for n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,16,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]"></select>
                </label>

                <regobs-number field-name="fractureDepth"
                                   label="Avstand fra toppen (cm)"
                                   help-text="I hele centimeter"
                                   model="stabilityTest.tempFractureDepth"
                                   min="0"
                                   max="10000"
                                   step="1"
                                   pattern="[0-9]*"></regobs-number>
                
                <label class="item item-input item-select item-stacked-label">
                    <span class="input-label">Bruddtype</span>
                    <select ng-model="stabilityTest.ComprTestFractureTID" ng-disabled="isCTNorECTX()"
                            ng-options="kdv.Id as kdv.Name for kdv in snowComprTestFractureKdvArray"></select>
                </label> 

                <kdv-dropdown title="Stabilitet"
                              model="stabilityTest.StabilityEvalTID"
                              kdv-key="Snow_StabilityEvalKDV">
                </kdv-dropdown>
                <regobs-comment model="stabilityTest.Comment"></regobs-comment>
            </ion-list>
            <div class="padding">
                <regobs-save-button ng-click="addStabilityTest()" save-action=""></regobs-save-button>

                <button class="button button-block button-assertive button-clear"
                        ng-click="deleteStabilityTest()"
                        ng-show="editing">
                    Slett
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
