<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>regObs</title>

    <link href="dist/app.css" rel="stylesheet">
    <link href="lib/leaflet/dist/leaflet.css" rel="stylesheet">

    <!--<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.css" rel="stylesheet">-->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script>window.phonegap = {}</script>
    <script src="lib/leaflet/dist/leaflet.js"></script>
    <script src="lib/ionic/js/ionic.min.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/ionic/js/ionic-angular.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-service-core, uncomment this if you remove ionic-service-core... -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="dist/app.js"></script>
</head>
<body ng-app="RegObs" ng-controller="AppCtrl as appVm">

<ion-nav-bar ng-cloak="">
    <ion-nav-back-button default-nav-back-button="" ng-click="goBack()">Tilbake</ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-class="{&apos;ion-locked&apos;: !appVm.userService.getUser().anonymous}" ng-show="appVm.currentState.name !== &apos;settings&apos; &amp;&amp; appVm.currentState.name !== &apos;help&apos; &amp;&amp; !appVm.userService.loggingIn" ng-bind="!appVm.userService.getUser().anonymous ? &apos;&apos; : &apos;Logg inn&apos;" ui-sref="settings">
        </button>
        <ion-spinner ng-if="appVm.userService.loggingIn &amp;&amp; appVm.currentState.name !== &apos;settings&apos;"></ion-spinner>
        <button class="button button-icon button-clear ion-gear-a" ui-sref="settings" ng-show="appVm.currentState.name !== &apos;settings&apos; &amp;&amp; appVm.currentState.name !== &apos;help&apos;">
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view></ion-nav-view>
<ion-footer-bar class="bar-dark regobs-bar" ng-show="appVm.showFormFooter || appVm.showRegistrationFooter">
    <div ng-if="appVm.showFormFooter" class="row row-no-padding">
        <div class="col col-center">
            <button class="button button-block  button-clear" ng-click="appVm.resetProperty()"><i class="icon stable ion-android-close"></i> Nullstill</button>
        </div>

        <div class="col col-center">
            <regobs-album></regobs-album>
        </div>
        <div class="col col-center">
            <regobs-camera></regobs-camera>
        </div>
    </div>
    <div ng-if="appVm.showRegistrationFooter" class="row row-no-padding">
        <div class="col col-center">
            <button class="button  button-block button-clear" ng-click="appVm.registration.remove()">
                <i class="icon stable ion-trash-a"></i> Slett
            </button>
        </div>
        <div class="col col-center">
            <button class="button  button-block button-clear" ng-click="appVm.registration.send()">
                <ion-spinner class="spinner-light" ng-if="appVm.registration.sending"></ion-spinner>
                <span ng-hide="appVm.registration.sending">
                    <i class="icon calm ion-upload"></i> Send<span class="badge badge-assertive" ng-show="appVm.registration.unsent.length" ng-bind="appVm.registration.unsent.length"></span>
                </span>
            </button>
        </div>
    </div>
</ion-footer-bar>
</body>
</html>
