<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>regObs</title>


    <link href="lib/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" rel="stylesheet">
    <link href="lib/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="lib/ion-floating-menu/dist/ion-floating-menu.min.css" rel="stylesheet" />
    <link href="lib/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet" />
    <link href="lib/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet" />
    <link href="dist/app.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script>
        //Kommenter inn denne for ionic view
        //window.phonegap = {}
    </script>
    <script src="lib/ga-localstorage/GALocalStorage.js"></script>
    <script src="lib/leaflet/dist/leaflet.js"></script>
    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/progressbar.js/dist/progressbar.min.js" type="text/javascript"></script>
    <script src="lib/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <script src="lib/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="lib/ionic/js/ionic.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-progressbar/dist/angular-progressbar.min.js"></script>
    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="lib/ionic/js/ionic-angular.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/ion-floating-menu/dist/ion-floating-menu.min.js" type="text/javascript"></script>
    <script src="lib/ng-webworker/src/ng-webworker.min.js" type="text/javascript"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-service-core, uncomment this if you remove ionic-service-core... -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="dist/app.js"></script>
    <script>
        document.onclick = function (e) {
            e = e || window.event;
            var element = e.target || e.srcElement;

            if (element.tagName === 'A' && element.target === '_system') {
                window.open(element.href, "_system");
                return false; // prevent default action and stop event propagation. This will cause inappbrowser to be used
            }
        };
    </script>
    <script type="text/javascript">

        ga_storage._setAccount('UA-32394009-4');

    </script>
</head>
<body ng-app="RegObs" ng-controller="AppCtrl as appVm">
    <ion-side-menus enable-menu-with-back-views="false">
        <!-- Left menu -->
        <ion-side-menu side="left">
            <map-menu></map-menu>
        </ion-side-menu>
        <ion-side-menu-content>
            <!-- Main content, usually <ion-nav-view> -->
            <ion-nav-bar ng-cloak="">
                <ion-nav-buttons side="left">
                    <div ng-if="appVm.showMapToggle()">
                        <!-- Toggle left side menu -->
                        <button menu-toggle="left" class="button button-icon icon ion-map"></button>
                    </div>
                </ion-nav-buttons>
                <ion-nav-back-button default-nav-back-button="" ng-click="goBack()">{{backTitle() | translate}}</ion-nav-back-button>
                <ion-nav-buttons side="right">
                    <button ng-show="appVm.trip.model.started && !appVm.userService.getUser().anonymous" class="button button-balanced button-clear button-icon" ng-class="{'ion-android-walk':!appVm.trip.sending}" ng-click="appVm.stopTrip()">
                        <ion-spinner ng-if="appVm.trip.sending" class="spinner-light"></ion-spinner>
                    </button>
                    <div ng-show="(appVm.currentState.data && appVm.currentState.data.showSettings !== false) && !appVm.showFormFooter()">
                        <button class="button button-clear ion-locked" ng-show="!appVm.userService.getUser().anonymous" ui-sref="settings"></button>
                        <button class="button button-icon ion-more" ng-click="appVm.openTopPopover($event)"></button>
                    </div>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
            <ion-footer-bar class="regobs-footer" ng-show="appVm.showFooter()">
                <div ng-if="appVm.showTripFooter()" class="row row-no-padding">
                    <div class="col col-center">
                        <div class="padding">
                            <button class="button button-block button-outline button-dark icon-right ion-android-close" ng-click="appVm.resetTrip()" ng-hide="appVm.trip.model.started">
                                {{'CLEAR'|translate}}
                            </button>
                        </div>
                    </div>
                    <div class="col col-center">
                        <ion-spinner class="spinner-dark" ng-show="appVm.trip.sending"></ion-spinner>
                        <div ng-hide="appVm.trip.sending" class="padding">
                            <button class="button  button-block button-calm icon-right ion-android-walk" ng-click="appVm.startTrip(appVm.tripId, appVm.tripMinutes, appVm.tripComment)" ng-hide="appVm.trip.model.started">
                                {{'START_TRIP' | translate}}
                            </button>
                            <button class="button  button-block button-calm icon-right ion-android-walk" ng-click="appVm.stopTrip()" ng-show="appVm.trip.model.started">
                                {{'END_TRIP' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-if="appVm.showFormFooter()" class="row row-no-padding">
                    <div class="col col-center">
                        <button class="button button-block button-clear button-dark icon-left ion-android-close" ng-click="appVm.resetProperty()">
                            {{'CLEAR'|translate}}
                        </button>
                    </div>
                    <div class="col col-center">
                        <regobs-album></regobs-album>
                    </div>
                    <div class="col col-center">
                        <regobs-camera></regobs-camera>
                    </div>
                </div>
                <div ng-if="appVm.showRegistrationFooter() && !appVm.showEditRegistration()" class="row row-no-padding">
                    <div ng-show="appVm.registration.sending">
                        <div class="col col-center">
                            <div class="padding footer-button-wrapper text-center">
                                <ion-spinner class="spinner-dark" ng-if="appVm.registration.sending"></ion-spinner> {{'SENDING'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-center" ng-hide="appVm.registration.sending">
                        <div class="padding footer-button-wrapper">
                            <button class="button  button-block button-outline button-dark icon-right ion-trash-a" ng-click="appVm.registration.remove()">
                                {{'DELETE'|translate}}
                            </button>
                        </div>
                    </div>
                    <div class="col col-center" ng-hide="appVm.registration.sending"">
                        <div class="padding footer-button-wrapper">
                            <button class="button button-block button-calm icon-right ion-android-send" ng-click="appVm.registration.send()">
                                <span class="badge badge-assertive" ng-show="appVm.registration.unsent.length" ng-bind="appVm.registration.unsent.length"></span> {{'SEND'|translate}} <!--<span class="badge badge-balanced" ng-show="!appVm.registration.isEmpty()" ng-bind="appVm.registration.getObservationsLength()" ></span>-->
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-if="appVm.showRegistrationFooter() && appVm.showEditRegistration()" class="row row-no-padding">
                    <div class="col col-center">
                        <div class="padding footer-button-wrapper">
                            <button class="button  button-block button-calm icon-right ion-edit" ng-click="appVm.gotoRegistration()">
                                {{'CONTINUE_REGISTRATION'|translate}}&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </ion-footer-bar>
        </ion-side-menu-content>
    </ion-side-menus>
</body>
</html>
