<div class="padding">
    <div class="text-center">
        Posisjon: {{getPositionText()}}
    </div>
    <button class="button button-block" ng-class="{'icon-left': !ObsLocation.fetching, 'ion-pinpoint': !ObsLocation.fetching, 'button-balanced':ObsLocation.data.UTMSourceTID===40}" ng-click="ObsLocation.fetchPosition()">
        <ion-spinner class="spinner-dark spinner-fix" ng-if="ObsLocation.fetching"></ion-spinner>
        <span ng-hide="ObsLocation.fetching">Hent posisjon fra GPS</span>
    </button>
    <button class="button button-block icon-left ion-pin" ng-click="openPositionInMap()" ng-class="{'button-balanced':ObsLocation.data.UTMSourceTID===35}">Sett posisjon i kart</button>
    <button ng-show="ObsLocation.isSet()" class="button button-block" ng-click="loadPlaces()" ng-class="{'icon-left': !fetchingPlaces, 'ion-search': !fetchingPlaces, 'button-balanced':ObsLocation.data.ObsLocationId}">
        <ion-spinner class="spinner-dark spinner-fix" ng-if="fetchingPlaces"></ion-spinner>
        <span ng-hide="fetchingPlaces">Hent eksisterende målepunkt i nærheten</span>
    </button>

</div>
