<ion-popover-view>
    <ion-content>
        <ion-list class="smaller-list-items">
            <ion-item class="item-icon-left item-text-wrap" ng-if="!showEditRegistration()" ng-click="newRegistration()">
                <i class="icon ion-plus"></i> Ny snøobservasjon
            </ion-item>
            <ion-item class="item-icon-left item-text-wrap" ng-if="showEditRegistration()" ng-click="newRegistration()">
                <i class="icon ion-edit"></i> Endre snøobservasjon
            </ion-item>
            <ion-item class="item-icon-left item-text-wrap" ng-if="showTrip()" ng-click="newTrip()">
                <i class="icon ion-android-walk"></i> Meld fra om tur
            </ion-item>
            <ion-item class="item-icon-left item-text-wrap" ng-click="openWebWarning()">
                <i class="icon ion-alert-circled"></i> Se varsel på varsom.no
            </ion-item>
            <ion-item class="item-icon-left item-text-wrap" ng-click="viewObservations()">
                <i class="icon ion-ios-list"></i> Se observasjoner i tabell
            </ion-item>
            <ion-item class="item-icon-left item-text-wrap" ng-click="updateObservationsInMap()">
                <i class="icon ion-loop"></i> Oppdater observasjoner i kartet
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>