<ion-popover-view>
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-left" ng-click="goToSettings()">
                <i class="icon ion-gear-a"></i> <span ng-if="isLoggedIn()">{{'SETTINGS' | translate}}</span><span ng-if="!isLoggedIn()">{{'LOGIN' | translate}}</span>
            </ion-item>
            <ion-radio ng-model="currentAppMode" value="snow" ng-change="changeAppMode(currentAppMode)">{{'SNOW' | translate}}</ion-radio>
            <ion-radio ng-model="currentAppMode" value="dirt" ng-change="changeAppMode(currentAppMode)">{{'DIRT' | translate}}</ion-radio>
            <ion-radio ng-model="currentAppMode" value="water" ng-change="changeAppMode(currentAppMode)">{{'WATER' | translate}}</ion-radio>
            <ion-radio ng-model="currentAppMode" value="ice" ng-change="changeAppMode(currentAppMode)">{{'ICE' | translate}}</ion-radio>
        </ion-list>
    </ion-content>
</ion-popover-view>