.status-icon {
    font-size: 64px;
}

.status-description {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #666;
    font-size: 14px;
    line-height: 22px;
}

.status-wrapper {
    text-align: center;
    padding-top: 100px;
}

.status-footer-button{
    margin-top: 20px !important;
}