<ion-view view-title="Skredproblem">
    <ion-content>
        <ion-list>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Vurdering*</span>
                <textarea placeholder="Vurdering av skredfare"
                          name="vurdering"
                          cols="30" rows="3"
                          ng-model="vm.obs.AvalancheEvaluation"></textarea>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Utvikling</span>
                <textarea placeholder="Utvikling av skredfare"
                          name="utvikling"
                          cols="30" rows="3"
                          ng-model="vm.obs.AvalancheDevelopment"></textarea>
            </label>

            <kdv-dropdown
                    title="Faregrad"
                    model="vm.obs.AvalancheDangerTID"
                    kdv-key="Snow_AvalancheDangerKDV">
            </kdv-dropdown>


            <label class="item item-input item-stacked-label">
                <span class="input-label">Kommentarer</span>
                <textarea placeholder="Hvordan er dagens lokale varsel i forhold til dine lokale vurderinger?"
                          name="comment"
                          cols="30" rows="3"
                          ng-model="vm.obs.ForecastComment"></textarea>
            </label>
        </ion-list>
        <regobs-form-footer registration-prop="vm.registrationProp"></regobs-form-footer>
    </ion-content>
</ion-view>