<ion-footer-bar class="registration regobs-footer">
    <div class="regobs-footer-top">

    </div>
    <div class="regobs-footer-content" ng-hide="$ctrl.registration.sending">
        <button type="button" ng-disabled="!$ctrl.registration.showSend()" class="send-button button-large button button-block button-calm icon-right ion-android-send" ng-click="$ctrl.registration.send()">
            <span class="badge badge-assertive" ng-show="$ctrl.registration.unsent.length" ng-bind="$ctrl.registration.unsent.length"></span> {{'SEND'|translate}}
        </button>
        <button type="button" ng-click="$ctrl.registration.remove()" class="delete-button button button-small button-clear button-dark icon-right ion-ios-trash-outline">{{'DELETE'|translate}} {{'OBSERVATION'|translate|lowercase}}</button>
        <span class="unsent-badge-info" ng-show="$ctrl.registration.unsent.length">*{{'BADGE_INFO'|translate}}</span>
    </div>
</ion-footer-bar>
