.observation-list-distance {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.observation-list-content .item-content {
    padding-bottom: 24px !important;
    padding-right: 33px !important;
}