.tile-legend-line {
    height: 30px;
    line-height: 30px;
}
.tile-legend-image {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.tile-legend-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: smaller;
}
