<ion-content>
    <ion-list>
        <ion-item class="item item-divider">
            {{'USER_OPTIONS'|translate}}
        </ion-item>
        <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-if="$ctrl.user.anonymous" ng-click="$ctrl.navigateTo('login')">
            <i class="icon ion-unlocked smaller-item-icon"></i> {{'LOGIN'|translate}}
            <i class="icon icon-accessory ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-if="!$ctrl.user.anonymous"  ng-click="$ctrl.navigateTo('login')">
            <i class="icon ion-locked smaller-item-icon"></i> {{$ctrl.user.email}}
            <i class="icon icon-accessory ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-if="!$ctrl.user.anonymous" ng-click="$ctrl.navigateTo('userobservations')">
            <i class="icon ion-eye smaller-item-icon"></i> {{'MY_OBSERVATIONS'|translate}}
            <span class="badge badge-assertive" ng-if="$ctrl.RegistrationService.unsent.length">{{$ctrl.RegistrationService.unsent.length}}</span>
            <i class="icon icon-accessory ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-click="$ctrl.navigateTo('settings')">
            <i class="icon ion-gear-a smaller-item-icon"></i> {{'SETTINGS'|translate}}
            <i class="icon icon-accessory ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item item-divider">
            {{'MAP_OPTIONS'|translate}}
        </ion-item>
        <ion-toggle class="item-icon-left" toggle-class="toggle-calm" ng-model="$ctrl.settings.showObservations" ng-change="$ctrl.onSettingsChanged()">
            <div class="icon"><div class="menu-observation-pin observation-pin {{$ctrl.settings.appmode}}"><i class="icon ion-eye observation-pin-icon large-icon"></i></div></div> {{'SHOW_OBSERVATIONS'|translate}}
        </ion-toggle>
        <label class="item item-input item-select item-stacked-label" ng-show="$ctrl.settings.showObservations">
            <span class="input-label">
                {{'SHOW_OBSERVATIONS'|translate}}
            </span>
            <select ng-model="$ctrl.daysBack" tabindex="-1"
                    ng-options="option.value as option.name | translate for option in $ctrl.daysBackArray" ng-change="$ctrl.onSettingsChanged()"></select>
        </label>
        <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-click="$ctrl.downloadMap()">
            <i class="icon ion-ios-bolt-outline"></i> {{'OFFLINE_MAP'|translate}}
            <i class="icon icon-accessory ion-chevron-right"></i>
        </ion-item>
        <div ng-repeat="map in $ctrl.getMapsForCurrentAppMode()">
            <div class="item item-divider">
                {{'MAP_OPTIONS_FOR'|translate}} {{$ctrl.settings.appmode.toUpperCase() | translate | lowercase}}
            </div>
            <div ng-repeat="tile in map.tiles">
                <ion-toggle toggle-class="toggle-calm" ng-model="tile.visible" ng-change="$ctrl.onSettingsChanged()">
                    {{'SHOW'|translate}} {{$ctrl.getTileDescription(tile) | translate | lowercase}}
                </ion-toggle>
                <div ng-show="tile.visible">
                    <label class="item item-input item-select item-stacked-label">
                        <span class="input-label">
                            {{'OPACITY'|translate}}
                        </span>
                        <select ng-model="tile.opacity" tabindex="-1"
                                ng-options="option.value as option.name for option in $ctrl.opacityArray" ng-change="$ctrl.onSettingsChanged()"></select>
                    </label>
                    <div ng-if="$ctrl.hasTileLabel(tile)">
                        <div class="item item-divider">
                            {{'TILE_DESCRIPTION'|translate}}
                        </div>
                        <ion-item class="item-text-wrap" ng-include src="$ctrl.getTileLabel(tile)">
                        </ion-item>
                    </div>
                </div>
            </div>
        </div>
        <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-click="$ctrl.openLegalInfo()">
            <i class="icon legal-icon legal-icon-outline"></i> {{'ABOUT_DATA_HEADER'|translate}}
            <i class="icon icon-accessory ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-click="$ctrl.navigateTo('wizard')">
            <i class="icon ion-ios-information-outline"></i> {{'WIZARD'|translate}}
            <i class="icon icon-accessory ion-chevron-right"></i>
        </ion-item>
        <ion-item class="item-text-wrap">
            <div class="small-text">{{'MAP_BY'|translate}} <a href="http://kartverket.no/" target="_system" >©Kartverket</a></div>
            <div class="small-text">{{'SUPPORT_MAP_BY'|translate}} <a href="http://www.nve.no/" target="_system">©NVE</a></div>
        </ion-item>
    </ion-list>
</ion-content>