<ion-view title="Velg område">
    <ion-content>
        <map-area-select on-change="vm.updateCounts()" bounds="vm.bounds" zoom="vm.currentZoom"></map-area-select>
        <ion-list>       
            <div class="item item-divider">
                Navn:
            </div>
            <label class="item item-input">
                <input type="text" ng-model="vm.name" />
            </label>
            <div ng-show="vm.extraDetailLevel.length > 1">
                <div class="item item-divider">
                    Antall zoom nivå (fra nivå {{vm.currentZoom}}):
                </div>
                <ion-radio ng-repeat="el in vm.extraDetailLevel" ng-change="vm.updateCounts()" ng-value="el.extraLevels" ng-model="vm.selectedDetailLevel">{{el.description}}</ion-radio>
            </div>
            <div class="item item-divider">
                Velg kart:
            </div>
            <ion-toggle toggle-class="toggle-calm" ng-model="vm.maps[0].selected" ng-change="vm.updateCounts()">
                Topografisk kart
            </ion-toggle>
            <ion-toggle toggle-class="toggle-calm" ng-model="vm.maps[1].selected" ng-change="vm.updateCounts()">
                Bratthets kart
            </ion-toggle>
            <ion-toggle toggle-class="toggle-calm" ng-disabled="true">
                Kvikkleire kart
            </ion-toggle>
            <ion-toggle toggle-class="toggle-calm" ng-model="vm.maps[2].selected" ng-change="vm.updateCounts()">
                Svekket is kart
            </ion-toggle>
            <div class="item item-divider">
                Oppsummering:
            </div>
            <div class="item item-input item-stacked-label item-text-wrap" ng-class="{'assertive':vm.downloadDisabled()}">
                <div>
                    {{vm.selectedMaps()}} kart. Max zoom {{vm.zoomlevel()}}. {{vm.mapFragmentCount}} kartblad.
                </div>
                <div>
                    Ca {{vm.size}} av {{vm.availableDiskspace}} tilgjengelig.
                </div>
                <div ng-repeat="tile in vm.mapsWithLimitReached()">
                    {{tile.maxLimitMessage || 'Maks grense for nedlasting av kartblad nådd'}}
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-calm" ng-disabled="vm.downloadDisabled()" ng-click="vm.download()">
                    Last ned dette området
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>