<div ng-if="downloadStatus">
    <div class="downloadprogress" pb-circle progress-key="progress" options="progressOptions"></div>
    <div ng-show="downloadStatus.hasError" class="item-text-wrap assertive text-center">
        <i class="icon ion-alert-circled"></i>
        <div ng-repeat="tileStatus in downloadStatus.status">
            <div ng-if="tileStatus.error">
                <span ng-bind="tileStatus.error"></span>/<span ng-bind="tileStatus.total"></span> kartblad feilet for <span ng-bind="tileStatus.description"></span>
            </div>         
        </div>
    </div>
</div>
<div class="popup-buttons">
    <button class="button" ng-hide="downloadComplete()" ng-click="cancelDownload()">Avbryt</button>
    <button class="button button-calm" ng-show="downloadComplete()" ng-click="closePopup()">Ok</button>
</div>