<ion-view view-title="regObs">
    <ion-content>
        <div ng-if="!vm.isLoading">
            <div ng-if="!vm.hasMapDownloaded() || vm.downloadAgain">
                <ion-list>
                    <ion-item class="item-text-wrap">
                        <h2>Last ned og lagre kart for bruk uten mobilnett</h2>
                        <p>Området for forhåndsnedlasting er gitt av kartutsnittet som ligger i appen nå.</p>
                    </ion-item>
                    <div class="item item-divider">
                        Velg nedlasting:
                    </div>
                    <ion-toggle toggle-class="toggle-calm" ng-model="vm.maps[0].selected" ng-change="vm.updateCounts()">
                        Topografisk kart
                    </ion-toggle>
                    <ion-toggle toggle-class="toggle-calm" ng-model="vm.maps[1].selected" ng-change="vm.updateCounts()">
                        Bratthets kart
                    </ion-toggle>
                    <ion-toggle toggle-class="toggle-calm" ng-disabled="true">
                        Kvikkleire kart
                    </ion-toggle>
                    <ion-toggle toggle-class="toggle-calm" ng-model="vm.maps[2].selected" ng-change="vm.updateCounts()">
                        Svekket is kart
                    </ion-toggle>
                    <div class="item item-divider">
                        Velg zoomnivå:
                    </div>
                    <div class="item range range-positive">
                        <i class="icon ion-ios-minus-outline" ng-click="vm.subtractZoomLevel()"></i>
                        <input type="range" min="1" max="{{vm.maxMapZoomLevel}}" step="1" ng-model="vm.zoomlevel" ng-change="vm.updateCounts()">
                        <i class="icon ion-ios-plus-outline" ng-click="vm.addZoomLevel()"></i>
                    </div>
                    <div class="item item-input item-stacked-label item-text-wrap" ng-class="{'assertive':vm.downloadDisabled()}">
                        <div>
                            {{vm.selectedMaps()}} kart.
                        </div>
                        <div>
                            {{vm.zoomlevel}} zoom nivåer. {{vm.mapFragmentCount}} delkart.
                        </div>
                        <div>
                            Ca {{vm.size}} av {{vm.availableDiskspace}} tilgjengelig.
                        </div>
                        <div ng-repeat="tile in vm.mapsWithLimitReached()">
                            {{tile.maxLimitMessage || 'Maks grense for nedlasting av kartblad nådd'}}
                        </div>
                    </div>
                    <div class="padding">
                        <button class="button button-block button-calm" ng-disabled="vm.downloadDisabled()" ng-click="vm.download()">
                            Last ned kart
                        </button>
                    </div>
                </ion-list>
            </div>
            <div ng-if="vm.hasMapDownloaded()">
                <ion-list>
                    <div class="item item-divider">
                        Lagrede kart:
                    </div>
                    <div class="item item-input item-stacked-label item-text-wrap">
                        <div ng-repeat="tile in vm.maps">
                            <div ng-if="tile.filecount">
                                <span ng-bind="tile.description"></span> - <span ng-bind="tile.filecount"></span> kartblad (<span ng-bind="tile.bytesReadable"></span>)
                            </div>
                        </div>
                    </div>
                    <div class="padding">
                        <button class="button button-block" ng-click="vm.deleteMaps()">
                            Slett lagrede kart
                        </button>
                    </div>
                    <div class="padding" ng-if="!vm.downloadAgain">
                        <button class="button button-block button-calm" ng-click="vm.downloadAgain = true">
                            Last ned mer
                        </button>
                    </div>
                </ion-list>
            </div>
            <button class="button button-positive button-block button-clear">
                Hjelp
            </button>
        </div>
    </ion-content>
</ion-view>