<ion-view view-title={{vm.viewTitle}}>
    <ion-nav-buttons side="left" ng-cloak>
        <!-- Toggle left side menu -->
        <button ng-cloak menu-toggle="left" class="button button-icon icon ion-map"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" ng-cloak>
        <nav-trip-button></nav-trip-button>
        <user-logout-button></user-logout-button>
        <nav-more-button></nav-more-button>
    </ion-nav-buttons>
    <div ng-class="{'hasFooter': vm.hasRegistration()}">
        <div ng-if="!vm.mapSelectedItem">
            <ion-floating-button class="regobs-gps-center" button-color="#fff" icon-color="#444" icon="ion-pinpoint" click="vm.gpsCenterClick()" ng-show="vm.getFollowMode()">
            </ion-floating-button>
            <ion-floating-button class="regobs-gps-center" button-color="#D2D4CF" icon-color="#444" icon="ion-pinpoint" click="vm.gpsCenterClick()" ng-hide="vm.getFollowMode()">
            </ion-floating-button>
            <ion-floating-button class="regobs-menu" button-color="#fff" icon-color="#444" icon="ion-chevron-up" ng-click="vm.openMapMenu($event)">
            </ion-floating-button>
        </div>
        <div ng-if="vm.mapSelectedItem">
            <div ng-repeat="button in vm.mapSelectedItem.getActionButtons()">
                <ion-floating-button ng-if="button.isVisible()" class="regobs-button-item-selected {{button.extraClasses}}" click="button.onClick()" button-color="{{button.buttonColor}}" icon-color="{{button.iconColor}}" icon="{{button.icon}}">
                </ion-floating-button>
            </div>
        </div>
        <div class="map-selected-info list card" ng-show="vm.mapSelectedItem">
            <div class="item map-selected-info-inner" ng-click="vm.openSelectedItem()" on-swipe-up="vm.openSelectedItem()">
                <div class="map-selected-info-date">{{vm.mapSelectedItem.getDate() | date:'d/M HH:mm'}}</div>
                <h2 class="map-selected-info-header" ng-bind-html="vm.mapSelectedItem.getHeader() || '&nbsp;'"></h2>
                <p class="map-selected-info-bottom">
                    <span class="map-selected-info-bottom-description">
                        {{vm.mapSelectedItem.getDescription()}}
                    </span>
                    <span class="map-selected-info-distance"><span>{{vm.mapSelectedItem.getTypeDescription() | translate}}</span>&nbsp;<span ng-if="vm.mapSelectedItem.hasDistance()">{{vm.mapSelectedItem.getDistanceText()}} {{'AWAY'|translate}}</span></span>
                </p>
            </div>
            <div class="map-selected-info-image-wrapper" ng-if="vm.mapSelectedItem.hasImages()" ng-click="vm.openSelectedItem()">
                <img class="map-selected-info-image" ng-src="{{vm.mapSelectedItem.getFirstImage().url}}" />
            </div>
        </div>
        <ion-content scroll="false" ng-class="{'has-footer': vm.hasRegistration()}">
            <div id="map" data-tap-disabled="true" class="regobs-map" regobs-map></div>
        </ion-content>
    </div>
    <ion-footer-bar class="regobs-footer" ng-if="vm.hasRegistration()">
        <div class="row row-no-padding">
            <div class="col col-center">
                <div class="padding footer-button-wrapper">
                    <button class="button  button-block button-calm icon-right ion-edit" ng-show="vm.registration.hasStarted()" ng-click="vm.gotoRegistration()">
                        {{'CONTINUE_REGISTRATION'|translate}}&nbsp;
                    </button>         
                    <div class="row" ng-hide="vm.registration.hasStarted()">
                        <div ng-show="vm.registration.sending" class="col col-center text-center">
                            <ion-spinner class="spinner-dark"></ion-spinner> {{'SENDING'|translate}}
                        </div>
                        <div class="col col-center" ng-hide="vm.registration.sending">
                            <div class="padding footer-button-wrapper">
                                <button class="button  button-block button-outline button-dark icon-right ion-trash-a" ng-click="vm.registration.remove()">
                                    {{'DELETE'|translate}}
                                </button>
                            </div>
                        </div>
                        <div class="col col-center" ng-hide="vm.registration.sending">
                            <div class="padding footer-button-wrapper">
                                <button class="button button-block button-calm icon-right ion-android-send" ng-click="vm.registration.send()">
                                    <span class="badge badge-assertive" ng-show="vm.registration.unsent.length" ng-bind="vm.registration.unsent.length"></span> {{'SEND'|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
