<ion-view view-title="Jordobservasjon">
    <ion-content>
        <ion-list>
            <regobs-menu-item
                    title="Faretegn"
                    condition="vm.obsArrayExists('DangerObs')"
                    state="dirtdangerobs"
                    badge-text="vm.obsArrayExists('DangerObs')">
            </regobs-menu-item>

            <regobs-menu-item
                    title="Skredhendelse (Ikke komplett)"
                    condition="vm.obsObjectExists('LandSlideObs')"
                    state="landslideobs">
            </regobs-menu-item>

            <regobs-menu-item
                    title="Fritekst"
                    condition="vm.obsObjectExists('GeneralObservation')"
                    state="generalobs">
            </regobs-menu-item>

        </ion-list>
        <div class="padding">
            <button class="button button-block button-calm" ng-click="vm.sendRegistration()">Send</button>
            <button class="button button-block button-assertive button-clear" ng-click="vm.deleteRegistration()">Slett observasjoner i minnet</button>
        </div>
    </ion-content>
</ion-view>