<ion-view view-title="Skredfarevurdering">
    <ion-content>
        <form name="avalancheEvaluationForm" novalidate>
            <ion-list>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Vurdering</span>
                <textarea placeholder="Vurdering av skredfare"
                          name="vurdering"
                          cols="30" rows="3"
                          ng-model="vm.reg.AvalancheEvaluation3.AvalancheEvaluation"></textarea>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Utvikling</span>
                <textarea placeholder="Utvikling av skredfare"
                          name="utvikling"
                          cols="30" rows="3"
                          ng-model="vm.reg.AvalancheEvaluation3.AvalancheDevelopment"></textarea>
                </label>

                <kdv-dropdown
                        title="Faregrad"
                        model="vm.reg.AvalancheEvaluation3.AvalancheDangerTID"
                        kdv-key="Snow_AvalancheDangerKDV">
                </kdv-dropdown>

                <kdv-dropdown
                        title="Vurdering av varslet faregrad"
                        model="vm.reg.AvalancheEvaluation3.ForeCastCorrectTID"
                        kdv-key="Snow_ForecastCorrectKDV">
                </kdv-dropdown>

                <regobs-comment
                        placeholder="Hvordan er dagens lokale varsel i forhold til dine lokale vurderinger?"
                        model="vm.reg.AvalancheEvaluation3.ForecastComment"
                ></regobs-comment>
            </ion-list>
            <regobs-image-list></regobs-image-list>
        </form>
        <button ui-sref="help({page:'avalancheevaluation'})" class="button button-positive button-block button-clear">
            Hjelp
        </button>
    </ion-content>
</ion-view>