<ion-modal-view>
    <ion-header-bar>
        <button type="button" class="button button-clear button-calm" ng-click="modal.hide()">{{'CANCEL'|translate}}</button>
        <h1 class="title" ng-hide="editing">{{'NEW_AVALANCHE_PROBLEM'|translate}}</h1>
        <h1 class="title" ng-show="editing">{{'EDIT_AVALANCHE_PROBLEM'|translate}}</h1>
        <button type="button" class="button button-clear button-calm" ng-click="add()">{{'OK'|translate}}</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-checkbox ng-model="obs.AvalCauseTID" ng-true-value="24" ng-change="setAvalancheExtArray()">
                {{'NO_WEAK_LAYERS'|translate}}
            </ion-checkbox>
            <div ng-hide="obs.AvalCauseTID === 24">
                <ion-item class="item-divider">{{'WEAK_LAYER'|translate}}</ion-item>

                <label class="item item-input item-select item-stacked-label">
                <span class="input-label">
                    {{'WEAK_LAYER'|translate}}
                </span>
                    <select ng-model="obs.AvalCauseTID"
                            ng-options="kdv.Id as kdv.Name for kdv in avalCauseKDV"
                            ng-change="setAvalancheExtArray()">
                        <option value=""></option>
                    </select>
                </label>

                <kdv-dropdown
                        title="{{'WEAK_LAYER_DEPTH'|translate}}"
                        model="obs.AvalCauseDepthTID"
                        kdv-key="Snow_AvalCauseDepthKDV">
                </kdv-dropdown>
                <ion-checkbox class="item-text-wrap" ng-repeat="flag in ::avalCauseAttributeFlags" ng-model="flag.val" ng-true-value="1" ng-false-value="0" ng-change="weakLayersCheckBoxFlagCreator()">
                    {{::flag.Name}}
                </ion-checkbox>
            </div>

            <ion-item class="item-divider">{{'AVALANCHE_PROBABILITY'|translate}}</ion-item>

            <label class="item item-input item-select item-stacked-label">
                <span class="input-label">
                    {{'PROVIDE_AVALANCHE_TYPE'|translate}}
                </span>
                <select ng-model="obs.AvalancheExtTID"
                        ng-options="kdv.Id as kdv.Name for kdv in avalancheExtArray">
                    <option value=""></option>
                </select>
            </label>

            <kdv-dropdown
                    title="{{'AVALANCHE_TRIGGER_PROBABILITY'|translate}}"
                    model="obs.AvalTriggerSimpleTID"
                    kdv-key="Snow_AvalTriggerSimpleKDV">
            </kdv-dropdown>

            <kdv-dropdown
                    title="{{'AVAL_PROBABILITY'|translate}}"
                    model="obs.AvalProbabilityTID"
                    kdv-key="Snow_AvalProbabilityKDV">
            </kdv-dropdown>

            <kdv-dropdown
                    title="{{'AVALANCHE_DESTRUCTIVE_SIZE'|translate}}"
                    model="obs.DestructiveSizeTID"
                    kdv-key="Snow_DestructiveSizeKDV">
            </kdv-dropdown>

            <ion-item class="item-divider">{{'AVALANCHE_PROPAGATION_HEADER'|translate}}</ion-item>

            <kdv-dropdown
                    title="{{'AVAL_PROPAGATION'|translate}}"
                    model="obs.AvalPropagationTID"
                    kdv-key="Snow_AvalPropagationKDV">
            </kdv-dropdown>

            <div class="item item-input item-stacked-label">
                <span class="input-label">
                    {{'EXPOSED_HEIGHT_COMBO'|translate}}
                </span>

                <button type="button" class="button button-block exposedTop" ng-click="exposedHeight('top')" ng-class="{'button-positive':obs.exposedHeight.top}">{{'ON_TOP'|translate}}</button>
                <button type="button" class="button button-block exposedMid" ng-click="exposedHeight('mid')" ng-class="{'button-positive':obs.exposedHeight.mid}">{{'IN_MIDDLE'|translate}}</button>
                <button type="button" class="button button-block exposedBot" ng-click="exposedHeight('bot')" ng-class="{'button-positive':obs.exposedHeight.bot}">{{'ON_BOTTOM'|translate}}</button>
            </div>

            <label class="item item-input item-stacked-label item-select" ng-show="obs.ExposedHeightComboTID">
                <span class="input-label">
                    {{'EXPOSED_HEIGHT1'|translate}}
                </span>
                <select ng-model="obs.ExposedHeight1"
                        ng-options="height for height in heightArray">

                </select>
            </label>
            <label class="item item-input item-stacked-label item-select" ng-show="obs.ExposedHeightComboTID === 4 || obs.ExposedHeightComboTID === 3">
                <span class="input-label">
                    {{'EXPOSED_HEIGHT2'|translate}}
                </span>
                <select ng-model="obs.ExposedHeight2"
                        ng-options="height for height in heightArray">

                </select>
            </label>

            <div class="item item-input item-stacked-label">
                <span class="input-label">
                    {{'VALID_EXPOSITION'|translate}}
                </span>
                <div class="button-bar">
                    <button type="button" class="button" ng-click="toggleExposition(7)" ng-class="{'button-positive':exposition[7]}">{{'NORTH_WEST_SHORT'|translate}}</button>
                    <button type="button" class="button" ng-click="toggleExposition(0)" ng-class="{'button-positive':exposition[0]}">{{'NORTH_SHORT'|translate}}</button>
                    <button type="button" class="button" ng-click="toggleExposition(1)" ng-class="{'button-positive':exposition[1]}">{{'NORTH_EAST_SHORT'|translate}}</button>
                </div>
                <div class="button-bar">
                    <button type="button" class="button" ng-click="toggleExposition(6)" ng-class="{'button-positive':exposition[6]}">{{'WEST_SHORT'|translate}}</button>
                    <button type="button" class="button" ng-click="toggleAllExpositions()" ng-class="{'button-positive':allExpositionsToggled}">{{'ALL'|translate}}</button>
                    <button type="button" class="button" ng-click="toggleExposition(2)" ng-class="{'button-positive':exposition[2]}">{{'EAST_SHORT'|translate}}</button>
                </div>
                <div class="button-bar">
                    <button type="button" class="button" ng-click="toggleExposition(5)" ng-class="{'button-positive':exposition[5]}">{{'SOUTH_WEST_SHORT'|translate}}</button>
                    <button type="button" class="button" ng-click="toggleExposition(4)" ng-class="{'button-positive':exposition[4]}">{{'SOUTH_SHORT'|translate}}</button>
                    <button type="button" class="button" ng-click="toggleExposition(3)" ng-class="{'button-positive':exposition[3]}">{{'SOUTH_EAST_SHORT'|translate}}</button>
                </div>
            </div>

            <regobs-comment
                    placeholder="{{'ADDITIONAL_COMMENT_2'|translate}}"
                    model="obs.Comment"
            ></regobs-comment>
        </ion-list>
        <div class="padding">
            <button type="button" class="button button-block button-calm"
                    ng-click="add()">{{'SAVE'|translate}}</button>
            <button type="button" class="button button-block button-assertive button-clear"
                    ng-click="delete()"
                    ng-show="editing">{{'DELETE'|translate}}</button>
        </div>
    </ion-content>
</ion-modal-view>