<ion-view view-title="Isobservasjon">
    <ion-content>
        <ion-list>
            <regobs-menu-item
                    title="Faretegn"
                    condition="vm.obsArrayExists('DangerObs')"
                    state="icedangerobs"
                    badge-text="vm.obsArrayExists('DangerObs')">
            </regobs-menu-item>

            <regobs-menu-item
                    title="Isdekningsgrad"
                    condition="vm.obsObjectExists('IceCoverObs')"
                    state="icecoverobs">
            </regobs-menu-item>

            <regobs-menu-item
                    title="Istykkelse"
                    condition="vm.obsObjectExists('IceThickness')"
                    state="icethickness">
            </regobs-menu-item>

            <regobs-menu-item
                    title="Ulykke/hendelse"
                    condition="vm.obsObjectExists('Incident')"
                    state="iceincident">
            </regobs-menu-item>

            <regobs-menu-item
                    title="Fritekst"
                    condition="vm.obsObjectExists('GeneralObservation')"
                    state="generalobs">
            </regobs-menu-item>

        </ion-list>
        <div class="padding">
            <button class="button button-block button-calm" ng-click="vm.sendRegistration()">Send</button>
            <button class="button button-block button-assertive button-clear" ng-click="vm.deleteRegistration()">Slett observasjoner i minnet</button>
            Lokasjon: [{{appVm.getLocation().Latitude}}, {{appVm.getLocation().Longitude}}]
        </div>
    </ion-content>
</ion-view>