<ion-view view-title="regObs">
    <ion-content>
        <div class="list">
            <ion-item class="item-icon-right"
                      ui-sref="snow">
                Snø&nbsp;
                <i ng-if="appVm.trip.model.started" class="icon balanced ion-android-walk" style="right:50px"></i>
                <span class="badge badge-balanced" ng-if="appVm.registrationIsType('snow')">1</span>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </ion-item>

            <ion-item class="item-icon-right"
                      ui-sref="ice">
                Is
                <span class="badge badge-balanced" ng-if="appVm.registrationIsType('ice')">1</span>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </ion-item>

            <ion-item class="item-icon-right"
                      ui-sref="water">
                Vann
                <span class="badge badge-balanced" ng-if="appVm.registrationIsType('water')">1</span>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </ion-item>

            <ion-item class="item-icon-right"
                      ui-sref="dirt">
                Jord
                <span class="badge badge-balanced" ng-if="appVm.registrationIsType('dirt')">1</span>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
