<!--<ion-tabs>
    <ion-tab title="Skred" icon="" href="">
        <ion-nav-view name="landslide-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Snøskred" icon="" href="">
        <ion-nav-view name="avalanche-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>-->
<ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-class="{'ion-locked': appVm.user}" ng-click="appVm.openModal()">{{appVm.user ? '' : 'Logg inn'}}
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-gear-a" ng-click="appVm.openModal()">
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-tabs>
    <ion-tab title="Snø" icon="" href="">
        <ion-nav-view name="snow-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Is" icon="" href="">
        <ion-nav-view name="ice-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Vann" icon="" href="">
        <ion-nav-view name="water-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Jord" icon="" href="">
        <ion-nav-view name="dirt-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>


