<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Settings</h1>
        <button class="button button-clear button-positive" ng-click="appVm.modal.hide()">Lukk</button>
    </ion-header-bar>
    <ion-content>

        <form ng-submit="appVm.logIn()" ng-if="appVm.user.anonymous">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Brukernavn" ng-model="appVm.username"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Passord" ng-model="appVm.password"/>
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">
                    Logg inn
                </button>
            </div>
        </form>
        <form ng-submit="appVm.logOut()" ng-if="!appVm.user.anonymous">
            <div class="list">
                <div class="item">
                    Logged in as {{appVm.user.email}}
                </div>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">
                    Logg Ut
                </button>
            </div>
        </form>


        <ion-list>
            <ion-item class="item-divider">
                Innstillinger
            </ion-item>

            <ion-toggle ng-model="appVm.settings.emailReceipt" toggle-class="toggle-calm">Send kvittering på epost?</ion-toggle>

            <label class="item item-input item-select">
                <div class="input-label">
                    Appmodus
                </div>
                <select ng-model="appVm.settings.env" ng-options="env for env in appVm.settings.getEnvironments()">
                </select>
            </label>

        </ion-list>

    </ion-content>
</ion-modal-view>