<ion-view view-title="{{'SETTINGS'|translate}}">
    <ion-content>
        <ion-list>
            <label class="item item-input item-select" ng-show="!vm.userService.getUser().anonymous && vm.hasObserverGroups()">
                <span class="input-label">
                    {{'GROUP'|translate}}
                </span>
                <select ng-model="vm.userService.getUser().chosenObserverGroup" ng-change="vm.userService.save()"
                        ng-options="key as value for (key , value) in vm.userService.getUser().ObserverGroup">
                    <option value="">{{'CHOOSE_GROUP'|translate}}</option>
                </select>
            </label>
            <ion-item ng-show="!vm.userService.getUser().anonymous && !vm.hasObserverGroups()">
                {{'NO_GROUPS_INFO'|translate}}
            </ion-item>
            <ion-toggle ng-model="vm.settings.data.emailReceipt"
                        ng-change="vm.settings.save()"
                        toggle-class="toggle-calm"
                        ng-hide="vm.userService.getUser().anonymous">
                {{'SEND_EMAIL_RECIEPT'|translate}}
            </ion-toggle>

            <ion-item class="item-divider">
                {{'ADVANCED_SETTINGS'|translate}}
            </ion-item>
            <ion-toggle ng-model="vm.settings.data.compass"
                        ng-change="vm.settings.save()"
                        toggle-class="toggle-calm">
                {{'ACTIVATE_COMPASS'|translate}}
            </ion-toggle>

            <label class="item item-input item-select">
                <span class="input-label">
                    {{'APP_MODE'|translate}}
                </span>
                <select ng-model="vm.settings.data.env" ng-change="vm.envChanged()"
                        ng-options="env for env in vm.settings.getEnvironments()"></select>
            </label>

            <ion-item class="text-center">
                <button type="button" ng-click="vm.refreshKdvElements()" class="button button-block icon-left ion-refresh">
                    {{'UPDATE_KDV_ELEMENTS'|translate}} <ion-spinner class="spinner spinner-fix" ng-if="vm.refreshingKdv"></ion-spinner>
                </button>
                <p>{{'UPDATED'|translate}} {{vm.kdvUpdated}}</p>
            </ion-item>
            <ion-item class="item-borderless">
                <button type="button" ng-click="vm.clearAppStorage()" class="button button-block icon-left ion-medkit">
                    {{'RESET_APP'|translate}}
                </button>
            </ion-item>
            <ion-item class="item-borderless">
                <button type="button" ui-sref="help({page:'settings'})" class="button button-block button-clear button-positive">{{'HELP'|translate}}</button>
            </ion-item>
        </ion-list>
        <div class="text-center">{{'VERSION'|translate}} {{vm.version.version}}</div>
        <div class="text-center">{{vm.version.build}}</div>
    </ion-content>
</ion-view>