<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Settings</h1>
        <button class="button button-clear button-positive" ng-click="appVm.modal.hide()">Lukk</button>
    </ion-header-bar>
    <ion-content>

        <form ng-submit="appVm.logIn()" ng-if="appVm.user.anonymous">
            <div class="list">
                <label class="item item-input" >
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="email" placeholder="E-post" ng-model="appVm.username" ng-disabled="appVm.loggingIn" />
                </label>
                <label class="item item-input">
                    <i class="icon ion-key placeholder-icon"></i>
                    <input type="password" placeholder="Passord" ng-model="appVm.password" ng-disabled="appVm.loggingIn" />
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-calm" style="height: 47px">
                    <ion-spinner class="spinner-light" ng-show="appVm.loggingIn"></ion-spinner> <span ng-hide="appVm.loggingIn">Logg inn</span>
                </button>
            </div>
        </form>
        <form ng-submit="appVm.logOut()" ng-if="!appVm.user.anonymous">
            <div class="list">
                <div class="item">
                    Logged in as {{appVm.user.email}}
                </div>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-calm">
                    Logg Ut
                </button>
            </div>
        </form>


        <ion-list>
            <ion-item class="item-divider">
                Innstillinger
            </ion-item>

            <ion-toggle ng-model="appVm.settings.emailReceipt" ng-change="appVm.settings.changedSetting()" toggle-class="toggle-calm">Send kvittering på epost?</ion-toggle>

            <label class="item item-input item-select">
                <div class="input-label">
                    Appmodus
                </div>
                <select ng-model="appVm.settings.env" ng-change="appVm.settings.changedSetting()" ng-options="env for env in appVm.settings.getEnvironments()">
                </select>
            </label>

        </ion-list>

        <div class="padding">
            <button ng-click="appVm.clearAppStorage()" class="button button-block">
                Nullstill app
            </button>
        </div>

    </ion-content>
</ion-modal-view>