<div class="small-text position-popup-info-text"><i class="icon ion-information-circled"></i> {{'MANUAL_MARK_POSITION_INFO'|translate}}</div>
<button type="button" class="button button-block position-popup-button icon-left ion-location" ng-click="openMarkPosition()">{{'MANUAL_MARK_POSITION'|translate}}</button>
<div class="small-text position-popup-info-text">
    <i class="icon ion-information-circled"></i> {{'PREVIOUS_USED_PLACES_INFO'|translate}}
</div>
<button type="button" class="button button-block position-popup-button icon-left ion-pin" ng-click="openPreviousUsedPlaces()">{{'CHOOSE_PREVIOUS_USED_PLACE'|translate}}</button>
<br />
<button type="button" class="button button-block button-dark" ng-click="closePopup()">{{"CANCEL" | translate}}</button>
