
<div class="small-text position-popup-info-text"><i class="icon ion-information-circled"></i> Markerer du egen posisjon vil denne bli brukt og ikke gpsen.</div>
<button type="button" class="button button-block position-popup-button" ng-click="openMarkPosition()"><i class="icon ion-location"></i> Marker egen posisjon</button>
<div class="small-text position-popup-info-text">
    <i class="icon ion-information-circled"></i> Tidligere brukte steder er lagret i regObs for at du kan knytte observasjonene dine til et fast punkt.
</div>
<button type="button" class="button button-block position-popup-button"><i class="icon ion-pin"></i> Velg tidligere brukt sted</button>
<br/>
<button type="button" class="button button-block button-dark" ng-click="closePopup()">{{"CANCEL" | translate}}</button>
