.regobs-position-icon {
    display: inline !important;
    padding: 1px !important;
    vertical-align: initial !important;
}

.set-position-in-map-wrapper {
    width: 100%;
    height: 100%;
}

.set-position-in-map {
    position: absolute;
    top: 0px;
    bottom: 140px;
    left: 0px;
    right: 0px;
}

.mark-position-in-map-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 140px;
}

.set-position-button-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.set-position-button {
    position: relative;
    top: -33px;
    z-index: 9999;
}

.mark-position-info-bottom {
    position: fixed;
    height: 112px;
    bottom: 0px;
    left: 0px;
    right:0px;
}

.mark-position-info-icon {
    font-size: 28px;
}

.mark-position-info-text {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
}

.position-popup-info-text {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    text-align: center;
}

.position-popup-button {
    font-size: 13px;
}
