
<div class="set-position-in-map-wrapper">
    <div class="set-position-in-map">
        <div id="map" class="regobs-map" data-tap-disabled="true"></div>
    </div>  
    <div class="mark-position-in-map-info">
        <div class="set-position-button-wrapper">
            <button class="button button-block button-calm set-position-button" ng-show="$ctrl.place" ng-click="$ctrl.savePosition()">{{'CONFIRM_POSITION'|translate}}</button>
        </div>
        <div class="text-center mark-position-info-bottom">
            <div class="mark-position-info-icon"><i class="icon ion-pin"></i></div>
            <div class="mark-position-info-text"><span ng-show="!$ctrl.place">{{'CHOOSE_PREVIOUS_USED_PLACE'|translate}}</span><span ng-if="$ctrl.place">{{$ctrl.place.getHeader()}}</span></div>
            <div class="mark-position-info-distance small-text" ng-show="$ctrl.place">{{$ctrl.distanceText}} {{'AWAY' | translate}}</div>
            <div class="mark-position-info-loading" ng-show="$ctrl.loadingLocations"><ion-spinner class="spinner-dark spinner-small"></ion-spinner> {{'LOADING'|translate}}</div>
        </div>
        
    </div>
</div>